<div class="xt_changeHtml">
	<div class="zk_addMain long-label" style="width: 1000px;">
		<div class="zk_baseInfoBox">
			<div class="zk_controlBox mtop16" style="width: 100%;">
				<div class="widthAuto zk_controlGroup divMargin f14">
					<div class="zk_controlLabel">
						<span>出库审核：</span>
					</div>
					<div class="widthAuto zk_controlInput">
						<zk-control-group ng-model="vo.outStock" htmlid="ad"
								data-option='[{"N":"无需审核"},{"Y":"需审核"}]'></zk-control-group>
					</div>
				</div>
			</div>
			<div class="zk_controlBox mtop16" style="width: 100%;">
				<div class="widthAuto zk_controlGroup divMargin f14">
					<div class="zk_controlLabel">
						<span>出库审核为同一人：</span>
					</div>
					<div class="widthAuto zk_controlInput">
						<zk-control-group ng-model="vo.outStockUser" htmlid="ad2"
								data-option='[{"N":"不支持"},{"Y":"支持"}]'></zk-control-group>
					</div>
				</div>
			</div>

			<div class="zk_controlBox mtop16" style="width: 100%;">
				<div class="widthAuto zk_controlGroup divMargin f14">
					<div class="zk_controlLabel">
						<span>入库审核：</span>
					</div>
					<div class="widthAuto zk_controlInput">
						<zk-control-group ng-model="vo.inStock" htmlid="ad3"
								data-option='[{"N":"无需审核"},{"Y":"需审核"}]'></zk-control-group>
					</div>
				</div>
			</div>
			<div class="zk_controlBox mtop16" style="width: 100%;">
				<div class="widthAuto zk_controlGroup divMargin f14">
					<div class="zk_controlLabel">
						<span>入库审核为同一人：</span>
					</div>
					<div class="widthAuto zk_controlInput">
						<zk-control-group ng-model="vo.inStockUser" htmlid="ad4"
								data-option='[{"N":"不支持"},{"Y":"支持"}]'></zk-control-group>
					</div>
				</div>
			</div>
			
			<div class="zk_controlBox mtop16" style="width: 100%;">
				<div class="widthAuto zk_controlGroup divMargin f14">
					<div class="zk_controlLabel">
						<span>调拨审核：</span>
					</div>
					<div class="widthAuto zk_controlInput">
						<zk-control-group ng-model="vo.alloctStock" htmlid="ad5"
								data-option='[{"N":"无需审核"},{"Y":"需审核"}]'></zk-control-group>
					</div>
				</div>
			</div>
			<div class="zk_controlBox mtop16" style="width: 100%;">
				<div class="widthAuto zk_controlGroup divMargin f14">
					<div class="zk_controlLabel">
						<span>调拨审核为同一人：</span>
					</div>
					<div class="widthAuto zk_controlInput">
						<zk-control-group ng-model="vo.alloctStockUser" htmlid="ad6"
								data-option='[{"N":"不支持"},{"Y":"支持"}]'></zk-control-group>
					</div>
				</div>
		</div>
	</div> 
</div>
<div class="zk_saveBox">
	<a ng-click="save();" class="btnStyle saveBtn">保存</a>
</div>
<style>
 .widthAuto .zk_controlLabel{
	 width: 154px;
 }
</style>