<div class="setting_panel panel-default">
        <div class="panel-heading text-left">
            <div class="setting_nav">
                <ul>
                    <li><a href="">【{{mtcVO.mtc_title}}】号码段与商品关联列表  (号码段：{{mtcVO.mtc_start_code}}至{{mtcVO.mtc_end_code}})</a></li>
                </ul>
            </div>
        </div>
        <div class="search-filter-box">

            <div>
                <label>关键字<span>:</span></label>
                <input type="text" placeholder="商品名称，会员" ng-model="searchParam.searchKey">	
            </div>
            <div>
                <a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
                <a class="btn btn-default" ng-click="clearInput();doSearch();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
    
                <a ng-if="mtcVO.mtc_relationnum!=mtcVO.mtc_total_num" class="btn btn-success" style="margin-left:80px;"  ng-click="goAdd();" >添加</a>
                <a class="btn btn-success" style="margin-left:80px;"  ng-click="goCodeList();" >返回</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default"
                        style="border: 0; border-radius: 0;">
                        <div class="panel-heading f14"
                            style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
                            <i class="icon icon-list"></i> 共{{pager.total}}条记录
                        </div>
    
                        <table class="table table3 table-bordered table-hover user_table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>商品</th>
                                    <!-- <th>经销商</th> -->
                                    <th>业务员</th>
                                    <th>兑换有效期</th>
                                    <th>起止编码</th>
                                    <th>有效期(天)</th>
                                    <th>总张数</th>
                                    <th>兑换数量</th>
                                    <th>开启状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in ticketList">
                                    <td class="text-center f14">{{pager.rows * (pager.page -
                                        1)+ $index+1}}</td>
                                    <td class="text-center f14">{{x.mtp_productid_nameref}}</td>
                                    <!-- <td class="text-center f14">{{x.mtp_shopid_nameref}}</td> -->
                                    <td class="text-center f14">{{x.mtp_salesuserid_nameref}}</td>
                                    <td class="text-center f14">{{x.mtp_valid_startdate}}至<br>{{x.mtp_valid_enddate}}</td>
                                    <td class="text-center f14">{{x.mtp_start_code}}至<br>{{x.mtp_end_code}}</td>
                                    <td class="text-center f14">{{x.mtp_valid_days}}</td>
                                    <td class="text-center f14">{{x.mtp_total_num}}</td>
                                    <td class="text-center f14">{{x.mtp_use_num}}</td>
                                    <td class="text-center f14">{{x.mtp_open_state_nameref}}</td>
                                    <td class="text-center f14">
                                            <a class="common_btns common_detail"  ng-click="goMaterialList(x)" title="实物水票列表"></a>
                                            <a ng-if="x.mtp_open_state==1" class="common_btns common_edit"  ng-click="goEdit(x)" title="修改"></a>
                                            <a ng-if="x.mtp_open_state==1" class="common_btns common_publish"  ng-click="changeOpenState(x, 2)" title="开启"></a>
                                            <a ng-if="x.mtp_open_state==2" class="common_btns common_publish_cancle"  ng-click="changeOpenState(x, 3)" title="关闭"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    