<div class="com-get-prize-main" ng-show="comGetPrize.isShow">
	<div class="compop-background" ng-click="!comGetPrize.disable&&comGetPrize.hide()"></div>
	<div class="prize-content">
		<div class="prize-top">
			<div class="prize-name">
				<div><span>恭喜获得</span></div>
				<div><span ng-bind="$root.comGetPrize.text">黑黑乳一箱</span></div>
			</div>
		</div>
		<div class="prize-bottom">
			<!-- 图片预加载 防止切换时闪动 -->
			<img style="display: none;" src="../../img/mobile/common/view-detail.png">
			<img style="display: none;" src="../../img/mobile/common/view-detail-active.png">

			<div class="prize-btn" ng-bind="comGetPrize.btnText"
				 ng-class="{'prize-active':bntActive}"
				 on-touch="bntActive=true;" 
				 on-release="bntActive=false"
				 ng-click="comGetPrize.isShow=false;comGetPrize.callback()"></div>
			<div class="prize-bottom-close" ng-click="!comGetPrize.disable&&comGetPrize.hide()"><i class="icon ion-ios-close-outline"></i></div>
		</div>
	</div>
</div>