<!DOCTYPE html>
<html class="turbolinks-progress-bar"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>聚品国际服务号</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link href="../../css/demo/demo.css" rel="stylesheet">
</head>

<body class="action_demo">
<nav class="navbar navbar-default  navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img alt="聚品国际服务号" src="../../../img/0.jpg">
				聚品国际服务号（预览页面）
			</a>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row activity subscribe_page">
		<p style="margin: 0 0 10px;">
			<img class="activity_banner" src="../../img/subscribe_page_banner-1.png" alt="">
		</p>
		<div class="frame">
			<h3>三等奖</h3>
			<h1>100.00 元</h1>
			<div class="receive_award_area award">
				<img class="qr_code_img" src="../../img/qrcode_zhoubao.png" alt="">
				<p>长按二维码<br>选择“识别图中二维码”，领取红包</p>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="activity_info">
				<ul class="nav nav-pills nav-justified activity_info_tabs" id="activity_tab_list">
					<li role="presentation" class="active">
						<a href="#"><i class="glyphicon glyphicon-volume-up"></i> 活动说明</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="activity_desc_panel">
						<h5>活动有效期</h5>
						<p>2017-05-25 至 2017-06-01</p>
						<h5>活动发行方</h5>
						<p><span>社区盒子平台</span><br></p>
						<h5>活动说明</h5>
						<div id="activity_info_description"></div>
						<p>本活动最终解释权归活动发行方所有。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row text-center footer">© 2017 社区盒子</div>
</div>

</body>
</html>