<div class="contentHtml-new" style=" z-index: 10001; background-color: #fff;">
	
	<div class="panel-body" style="margin-top: 55px; box-sizing: border-box;">
		<div class="row">
        	<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading f14" style="background-color: #fff;">我的余额</div>
					<div class="panel-body">
    					<table class="table table-loose table-hover">
							<tbody>
								<tr>
									<td>资金余额</td>
									<td>
        								<h4><strong class="red">0.00 元</strong></h4>
								        <a class="btn btn-success btn-sm" href="#/index/account/accountRecharge">充值</a>
								        <a class="btn btn-default btn-sm black" href="#/index/account/accountDetail" style="text-shadow: none !important;">资金明细</a>
									</td>
								</tr>
								<tr>
									<td>二维码余额</td>
									<td>
										<h4><strong class="red">27 个</strong></h4>
        								<a class="btn btn-default btn-sm black" href="#index/account/twoDimension" style="text-shadow: none !important;">二维码明细</a>
									</td>
								</tr>
							</tbody>
    					</table>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading f14" style="background-color: #fff;">我的服务</div>
					<div class="panel-body">
    					<table class="table table-loose table-hover">
							<tbody>
								<tr label="当前服务模式">
									<td>当前服务模式</td>
									<td>标准版</td>
								</tr>
								<tr>
									<td>有效期至</td>
									<td>2017-05-30</td>
								</tr>
							</tbody>
    					</table>
					</div>
				</div>
	        </div>
		</div>
	</div>
</div>