<div class="contentHtml-new" style=" z-index: 10001; background-color: #fff;">
	
	<div class="panel-body" style="margin-top: 55px; box-sizing: border-box;">
		<div class="row">
        	<div class="col-sm-12">
				<div class="panel panel-default" style="border: 0; border-radius: 0;">
    				<div class="panel-heading f14" style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
      					<i class="icon icon-list"></i> 共4条记录
    				</div>
					<!--<div class="panel-body" style="border: 1px solid #ddd;">
						<div class="table-empty text-center">
							<i class="icon icon-search fa-3x"></i>
							<h4>查找不到相关记录</h4>
						</div>
					</div>-->
					<table class="table table3 table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-left">时间</th>
								<th class="text-left">说明</th>
								<th class="text-left">收支类型</th>
								<th class="text-left">二维码数量(个)</th>
								<th class="text-left">二维码结余(个)</th>
								<th class="text-left">备注</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-left f14">2017-06-01 14:52</td>
								<td class="text-left f14">活动生成</td>
								<td class="text-left f14">支出</td>
								<td class="text-left f14">-1</td>
								<td class="text-left f14">29</td>
								<td class="text-left f14">备注</td>
								
							</tr>
						</tbody>
					</table>
				</div>
	        </div>
	    </div>
	</div>
</div>