<div class="spread" id="spread" style="display: block;">
    <div class="spread-title">
        <span class="spread-title-msg">海报传播效果概览</span>
    </div>  
    <div class="spread-content">
        <div class="poster fn-clear">
            <p class="poster-msg">累计生成海报次数</p>
            <div class="poster-num">
                <p class="all-poster-num j-all-poster-num1">1</p>
                <!-- <p class="active-balance">还可生成海报<span id="rest_poster"></span>张</p>
                <p class="active-balance" id="view_tips_pause" style="display: none; padding: 0; background-color: #bfbfbf;">暂停派发</p>
                    --><p class="poster-trend hide">日<i class="up-icon"></i>67</p>
            </div>
        </div>
        <div class="poster fn-clear">
            <p class="poster-msg">累计海报扫码次数</p>
            <div class="poster-num">
                <p class="all-poster-num j-all-poster-num2">7</p>
                <p class="poster-trend hide">日<i class="up-icon"></i>67</p>
            </div>
        </div>
        <div class="poster fn-clear">
            <p class="poster-msg">累计新增粉丝数量</p>
            <div class="poster-num">
                <p class="all-poster-num j-all-poster-num3">5</p>
                <p class="poster-trend hide">日<i class="up-icon"></i>67</p>
            </div>
        </div>
    </div>
    <div class="spread-title">
        <span class="spread-title-msg">海报传播效果趋势图</span>
    </div>  
    <!-- 趋势折现图 -->
    <div class="spread-charts" id="spread_charts">
    </div>
</div>