<div class="contentHtml-new" style="background-color: #fff;left:0;">

    <div class="content-box-3">成功</div>
    <div style="width:100%;height:auto;margin-left:30px;margin-top:20px;">
        <table class="changeColor" style="width:100%;">
            <thead style="font-weight: bold;background:#ddd;">
                <th>类型</th>
                <th>名称</th>
                <th>对方</th>
                <th>金额</th>
                <th>支付方式</th>
                <th>渠道</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in [1,2,3,4]" style="border-bottom: 1px solid #eee;">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-box-4">
        <div style="border-right:1px solid #ddd;">
            <ul>
                <li>单号</li>
                <li>业务单号：dafdsafsafdsaf</li>
                <li>单号</li>
            </ul>
        </div>
        <div>
           <ul>
                <li>进度</li>
                <li>创建时间：2018-8-28 16:50:57</li>
                <li>入账时间：2018-8-28 16:50:35</li>
                <li>完成时间：2018-8-28 16:50:42</li>
            </ul>

        </div>
        <div style="border-left:1px solid #ddd;">
           <ul>
                <li>账务</li>
                <li>店铺余额：收入0元 结余0元</li>
            </ul>

        </div>
    </div>
    <div class="note-box">
        <div class="note-title">备注信息</div>
        <div class="note-content">暂无数据</div>
    </div>

</div>