<div class="contentHtml-new" style="background-color: #fff;left:0;">
    <div class="search-filter-box">
        <div>
            <label>创建时间<span>:</span></label>
            <span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()"
				 ng-click="dateRange.chooseDate($event)" > 日期 </span>
				<input id="start_date"  type="text" class="Wdate" style="margin-left:-4px;"
					onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
					/>
				<input id="end_date" type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
					onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
					/>
        </div>
        <div>
            <label>单据类型<span>:</span></label>
            <select ng-model="searchParam.grb_bill_type" >
            	<option value="" selected="selected">全部</option>
                <option value="1">收款</option>
                <option value="2">退款</option>
            </select>
            <label>支付方式<span>:</span></label>
            <select ng-model="searchParam.grb_pay_type" >
            	<option value="" selected="selected">全部</option>
                <option value="1">微信</option>
            </select>
            <label>单号<span>:</span></label>
            <input type="text" ng-model="searchParam.searchKey" placeholder="请输入单据编号">
        </div>
        <div>
                <a class="btn btn-success" style="margin-left:80px;"  ng-click="searchFun();" >
                        <i class="glyphicon glyphicon-filter"></i> 筛选</a>
        </div>
    </div>

    <div>
        <table class="changeColor" style="width:100%;">
            <thead style="font-weight: bold;background:#ddd;">
                <th>单据类型</th>
                <th>创建时间</th>
                <th>订单编号</th>
                <th>业务单号|支付流水号</th>
                <th>金额</th>
                <th>支付方式</th>
                <th>状态</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in billList" style="border-bottom: 1px solid #eee;">
                    <td>{{x.grb_bill_type_nameref}}</td>
                    <td>{{x.grb_ts}}</td>
                    <td>{{x.grb_sourcecode}}</td>
                    <td>{{x.grb_bill_code}}</td>
                    <td>{{x.grb_total_amount}}</td>
                    <td>{{x.grb_pay_type_nameref}}</td>
                    
                    <td>{{x.grb_state_nameref}}</td>
                    <td>
                        <a class="common_btns common_detail" ng-click="showDialog(x)" title="关联"></a>
                        <a class="common_btns common_detail" ng-click="goDetail()" title="详情"></a>
                    </td>
                </tr>
            </tbody>
            
        </table>
        <tm-pagination conf="pager" search-param ="searchParam"></tm-pagination>
    </div>
</div>

<!-- 查看用户订单弹窗 -->
<div class="dialog" ng-if="dialog==1" style="z-index: 88">
	<div class="dialog-zdc"></div>
	<!-- 弹出添加子类 -->
	<div class="dg-xg-zh"
		style="z-index: 999998; width: 900px; margin-left: -450px; top: 10%; "
		ng-if="dialog==1">
		<div class="dg-xg-js" style="width: 900px;">
			单据详情
			<div class="dg-cancle" ng-click="closeDialog()"></div>
		</div>
		<div class="setting_panel panel-default">
			<div class="panel panel-default" style="border: 0; border-radius: 0;height:370px;overflow-y:scroll;">
                   
                <table class="changeColor" style="width:100%;">
                    <thead style="font-weight: bold;background:#ddd;">
                        <th>类型</th>
                        <th>创建时间</th>
                        <th>名称</th>
                        <th>业务单号|支付流水号</th>
                        <th>金额</th>
                        <th>支付方式</th>
                        <th>状态</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in [1,2,3,4]" style="border-bottom: 1px solid #eee;">
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            
                            <td>3</td>
                            <td></td>
                        </tr>
                    </tbody>
                    
                </table>         
              </div>
		</div>
		<!-- <div>
			<div class="btn btn-default"
				style="margin-left: 594px; margin-bottom: 10px"
				ng-click="closeDialog()">关闭</div>
		</div>
 -->

	</div>
</div>