<div class="contentHtml-new" style=" z-index: 10001; background-color: #fff;left:0;">
	
	<div class="container-fluid" style="margin-top: 10px; box-sizing: border-box;">
	    <div class="row">
      		<div class="col-sm-12">
				<div class="alert alert-success f14">
		    		<button type="button" class="close" style="margin-top: -7px;">
						<span class="f22">×</span>
		    		</button>
		    		<i class="icon icon-ok-sign fa-lg"></i> 创建成功
  				</div>
			</div>
		</div>
	    <div class="well" style="background-color: #fff;">
			<form  class="simple_form form-inline">
				<div class="form-group select optional group_goods">
					<select class="select optional select2-select form-control select2-hidden-accessible" name="">
						<option value="">10</option>
						<option value="">电话卡</option>
					</select>
				</div>
				<input type="submit" class="btn btn-success btn-sm" value="保存" />
			</form>
		</div>
		<div class="row">
        	<div class="col-sm-12">
				<div class="panel panel-default" style="border: 0; border-radius: 0;">
    				<div class="panel-heading f14" style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
      					<i class="icon icon-list"></i> 共4条记录
    				</div>
    				<!--<div class="panel-body" style="border: 1px solid #ddd;">
						<div class="table-empty text-center">
							<i class="icon icon-search fa-3x"></i>
							<h4>查找不到相关记录</h4>
						</div>
					</div>-->
					<table class="table table3 table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-left">序号</th>
								<th class="text-left">图片</th>
								<th class="text-left">名称</th>
								<th class="text-left">状态</th>
								<th class="text-left">类型</th>
								<th class="text-left">价格</th>
								<th class="text-left">库存</th>
								<th class="text-left">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center f14">1</td>
								<td class="text-left"><img height="60" src="../../../img/20160707.png" alt="" /></td>
								<td class="text-left f14">可口可乐</td>
								<td class="text-left f14">
									<span class="label label-false ">已下架</span>
									<!--<span class="label label-success ">已开始</span>-->
								</td>
								<td class="text-left f14">实物礼品</td>
								<td class="text-right f14">0.0元</td>
								<td class="text-right f14">1000</td>
								<td class="text-left f14">
									<a href="" class="red" style="display: inline-block;">从分组中删除</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
	        </div>
	    </div>
	</div>
</div>