<div class="contentHtml-new" style="background-color: #fff;left:0;">
	
	<div class="container-fluid" style="margin-top: 10px; box-sizing: border-box;">
		 <div class="row">
			<div class="col-sm-12 page-header" style="margin-top: 0;">
            	<span class="page_actions" style="padding-left: 0; margin-left: 0;">
					<a class="btn btn-success" ng-click="goList();"> 返回列表</a>
					<!-- <a class="btn btn-success" href="#/index/product/productGrouping"><i class="icon icon-folder-close"></i> 礼品分组管理</a> -->
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs" style="border: 0;">
					<li class="active">
						<a class="f14 i-c-black">
							<i class="glyphicon glyphicon-edit"></i>
							 红包详情
						</a>
					</li>
					<li ng-show="false">
						<a class="f14 i-c-black" href="#tab2">
							<i class="icon icon-dropbox"></i>
							 库存管理
						</a>
					</li>
				</ul>
				<div class="t-box clearfix" id="tab1" style="display: block;">
					<form class="form-horizontal" style="display: flex;">
						<div class="panel panel-default" style="border-top-left-radius: 0; border-top-right-radius: 0;flex: 7;">
							<div class="panel-body">
								<h5>活动设置</h5>
								<hr />
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">礼品类型</label>
									<div class="col-md-9 col-lg-6">
										<div class="form-control-static f14">微信红包(代发)</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">
										<i class="form_required" title="必填">*</i>
										 编码
									</label>
									<div class="col-md-9 col-lg-6">
										<input type="text" ng-model="vo.pm_code" class="span4" maxlength="15"/>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">
										<i class="form_required" title="必填">*</i>
										 名称
									</label>
									<div class="col-md-9 col-lg-6">
										<input type="text" ng-model="vo.pm_title" maxlength="15" class="span4" />
									</div>
								</div>
								<!-- <div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">
										<i class="form_required" title="必填">*</i>
										 商家名称
									</label>
									<div class="col-md-9 col-lg-6">
										<input type="text" ng-model="" class="span4" />
									</div>
								</div> -->
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">
										<i class="form_required" title="必填">*</i>
										祝福语
									</label>
									<div class="col-md-9 col-lg-6">
										<textarea class="span4" ng-model="vo.pm_subtitle" maxlength="15"></textarea>
										<p class="help-block f14">用户收到红包时展示。需少于20个汉字，含标点符号</p>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">
										<i class="form_required" title="必填">*</i>
									 	红包金额
									</label>
									<div class="col-md-4 col-lg-6">
										<div class="input-group">
											<input type="number" ng-model="vo.pm_price" step="0.01" class="span4" style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;" />
											<span class="input-group-addon" style="border-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;display: initial;    padding-top: 7px;">元/个</span>
										</div>
										<p class="help-block f14">微信红包金额为 1.00 至 200.00 元中间，可以精确到分</p>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="radio_buttons optional col-md-3 col-lg-2 control-label f14">是否上架</label>
									<div class="col-md-9 col-lg-6" style="padding-top: 9px;">
										<span class="radio f14" style="padding: 0; width: 100%;">
											<lable class="xt_inputRadio" style="margin-bottom:8px">
												<input class="xt_radio" type="radio" value="1" ng-model="vo.pm_state" name="state">
												<div class="xt_inputBackimg"=></div>上架
											</lable>
										</span>
										<span class="radio f14" style="padding: 0; width: 100%;">
											<lable class="xt_inputRadio" style="margin-bottom:8px">
												<input class="xt_radio" type="radio" value="2" ng-model="vo.pm_state" name="state">
												<div class="xt_inputBackimg" ></div>下架
											</lable>
										</span>
										
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">
										<!-- <i class="form_required" title="必填">*</i> -->
										使用说明
									</label>
									<div class="col-md-9 col-lg-6">
										<textarea class="span4" ng-model="vo.pm_instructions" maxlength="300"></textarea>
										<p class="help-block f14">使用说明</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0;">图片</label>
									<div class="col-md-9 col-lg-6">
										<a ng-click="upImage($event)" style="color:#099fb8;" class="f14">上传图片</a>
										<div  style="margin-bottom:1.25rem;width:794px; height:300px; display:inline-block;" id="myeditor" 
										get-ue="ue_myeditor = getUe" ng-show="false" class="ueditor" ng-model="gb_content1"></div>
										<div style="margin-top:5px;">
											<div style="float:left;margin:5px;">
												<div class="gsGoodsImgs" style="width:100px; height:100px;border:1px solid #ddd;">
													<img alt="" ng-src="{{vo.pm_picture_show?vo.pm_picture_show:'img/prizedef.jpg'}}"  style="width:100px; height:100px;">
													<!-- <div class="gsGoodsImgsBtns" style="position:absolute;bottom:0;left:0;width:100px;background:#fff;">
														<a class="common_btns common_stick" title="设置主封面" ng-click="setStick(x)"></a>
														<a class="common_btns common_delete" title="删除" ng-click="deletePic($index)"></a>
													</div> -->
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>   	
								<hr />
								<a href="" class="btn btn-success" ng-click="saveProduct();">保存</a>
							</div>
						</div>
						<div class="panel panel-default" style="border-top-left-radius: 0; border-top-right-radius: 0;flex: 3;margin-left: 10px;">
							<div class="panel-body">
								<h5>模板消息通知</h5>
								<hr />
							    <div style="border: 1px solid #ddd; width: 80%;margin: 0 auto;padding:10px;">
								 	<img src="../../img/0.jpg" alt=""> 
								 	<span>商户名称</span>
								 	<hr>
								 	<div>
									 	<strong>您收到一个红包</strong>
								 	</div>
								 	<div>
									 	<span class="tips">9月20日</span>
								 	</div>
								 	<div>
									 	<span>你参与活动名称，成功获得商户名称赠送的红包。点击消息拆开红包即可获得现金</span>
								 	</div>
								 	<hr>
								 	<div style="text-align: right;">
								 		<span>详情</span>
								 		<span>></span>
								 	</div>
								</div>	
								<h5>防伪消息通知</h5>
								<hr />
								<div style="width: 80%;margin: 0 auto;text-align: center;">
									<div class="right-notes-top">
										<div>领取红包</div>
										<div>微信红包</div>
									</div>
								</div>
								<h5>拆红包页面</h5>
								<hr />
								<div style="width: 80%;margin: 0 auto;text-align: center;">
									<div class="right-notes-bottom">
										<div>商户名称</div>
										<div>给你发了一个红包</div>
										<div>请输入祝福语，不超过20个字</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>		
	</div>
</div>
