<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.demo.xianghuan.common.sys.dao.ISysUserRoleDao">
	<sql id="Base_Column_List">
		sur_id,sur_roleid,sur_userid,sur_state,sur_dr,sur_addtime,sur_updatetime,sur_ts
	</sql>
	<sql id="Base_Column_insert">
        	#{sur_id,jdbcType=VARCHAR},
        	#{sur_roleid,jdbcType=VARCHAR},
        	#{sur_userid,jdbcType=VARCHAR},
        	#{sur_state,jdbcType=INTEGER},
        	#{sur_dr,jdbcType=INTEGER},
        	#{sur_addtime,jdbcType=VARCHAR},
        	#{sur_updatetime,jdbcType=VARCHAR},
        	#{sur_ts,jdbcType=VARCHAR}
	</sql>
	<sql id="Base_query_column">
		sur_id,sur_roleid,sur_userid,sur_state,sur_dr,sur_addtime,sur_updatetime,sur_ts
	</sql>
	<sql id="Base_query_where">
		 	<if test="sur_roleid != null and sur_roleid != ''">
	          and sur_roleid = #{sur_roleid}
	         </if>
		 	<if test="sur_userid != null and sur_userid != ''">
	          and sur_userid = #{sur_userid}
	         </if>
		 	<if test="sur_state != null and sur_state != ''">
	          and sur_state = #{sur_state}
	         </if>
		 	<if test="sur_dr != null and sur_dr != ''">
	          and sur_dr = #{sur_dr}
	         </if>
		 	<if test="sur_addtime != null and sur_addtime != ''">
	          and sur_addtime = #{sur_addtime}
	         </if>
		 	<if test="sur_updatetime != null and sur_updatetime != ''">
	          and sur_updatetime = #{sur_updatetime}
	         </if>
		 	<if test="sur_ts != null and sur_ts != ''">
	          and sur_ts = #{sur_ts}
	         </if>
	</sql>
	
	<insert id="insert" parameterType="com.demo.xianghuan.common.sys.model.SysUserRole" keyProperty="sur_id" >
        INSERT INTO sys_user_role ( <include refid="Base_Column_List" /> )  VALUES (
            <include refid="Base_Column_insert" /> 
        )
	</insert>
	
	<insert id="insertBatch" keyProperty="sur_id">
		insert into sys_user_role  ( <include refid="Base_Column_List" /> )   values
		<foreach collection="array" item="item" index="index" separator=",">
		   (
        	#{item.sur_id,jdbcType=VARCHAR},
        	#{item.sur_roleid,jdbcType=VARCHAR},
        	#{item.sur_userid,jdbcType=VARCHAR},
        	#{item.sur_state,jdbcType=INTEGER},
        	#{item.sur_dr,jdbcType=INTEGER},
        	#{item.sur_addtime,jdbcType=VARCHAR},
        	#{item.sur_updatetime,jdbcType=VARCHAR},
        	#{item.sur_ts,jdbcType=VARCHAR}
		   )
        </foreach>
	</insert>

	<update id="update" parameterType="com.demo.xianghuan.common.sys.model.SysUserRole" flushCache="true">
        UPDATE sys_user_role SET
	        sur_roleid = #{sur_roleid,jdbcType=VARCHAR} ,
	        sur_userid = #{sur_userid,jdbcType=VARCHAR} ,
	        sur_state = #{sur_state,jdbcType=INTEGER} ,
	        sur_dr = #{sur_dr,jdbcType=INTEGER} ,
	        sur_addtime = #{sur_addtime,jdbcType=VARCHAR} ,
	        sur_updatetime = #{sur_updatetime,jdbcType=VARCHAR} ,
	        sur_ts = #{sur_ts,jdbcType=VARCHAR} 
        WHERE 
	        sur_id = #{sur_id,jdbcType=VARCHAR} 
	</update> 
	
	<update id="updateSelect" parameterType="com.demo.xianghuan.common.sys.model.SysUserRole" flushCache="true">
        UPDATE sys_user_role SET
	        	<if test=" sur_roleid != null  and sur_roleid != ''">
	        		sur_roleid = #{sur_roleid,jdbcType=VARCHAR} ,
	        	</if>
	        	<if test=" sur_userid != null  and sur_userid != ''">
	        		sur_userid = #{sur_userid,jdbcType=VARCHAR} ,
	        	</if>
	        	<if test=" sur_state != null  and sur_state != ''">
	        		sur_state = #{sur_state,jdbcType=INTEGER} ,
	        	</if>
	        	<if test=" sur_dr != null  and sur_dr != ''">
	        		sur_dr = #{sur_dr,jdbcType=INTEGER} ,
	        	</if>
	        	<if test=" sur_addtime != null  and sur_addtime != ''">
	        		sur_addtime = #{sur_addtime,jdbcType=VARCHAR} ,
	        	</if>
	        	<if test=" sur_updatetime != null  and sur_updatetime != ''">
	        		sur_updatetime = #{sur_updatetime,jdbcType=VARCHAR} ,
	        	</if>
	        	<if test=" sur_ts != null  and sur_ts != ''">
	        		sur_ts = #{sur_ts,jdbcType=VARCHAR} 
	        	</if>
        WHERE 
	        sur_id = #{sur_id,jdbcType=VARCHAR} 
	</update>   
	
	<update id="updateBatch" flushCache="true">
	    <foreach collection="array" item="item" open="" separator=";" close=";">
		        UPDATE sys_user_role SET
			        sur_roleid = #{item.sur_roleid,jdbcType=VARCHAR} ,
			        sur_userid = #{item.sur_userid,jdbcType=VARCHAR} ,
			        sur_state = #{item.sur_state,jdbcType=INTEGER} ,
			        sur_dr = #{item.sur_dr,jdbcType=INTEGER} ,
			        sur_addtime = #{item.sur_addtime,jdbcType=VARCHAR} ,
			        sur_updatetime = #{item.sur_updatetime,jdbcType=VARCHAR} ,
			        sur_ts = #{item.sur_ts,jdbcType=VARCHAR} 
		        WHERE 
			        sur_id = #{item.sur_id,jdbcType=VARCHAR} 
		</foreach>
	</update>

	<!-- <delete id="remove" parameterType="java.util.Map">
	    update sys_user_role set 1=1
	    set dr = 0 
	    where sur_id= #{sur_id}
	</delete>
	
	<delete id="removeBatch">
	    update sys_user_role where sur_id in
	    <foreach collection="array" item="item"  open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete> -->
	
	<select id="find" resultType="com.demo.xianghuan.common.sys.model.SysUserRole" parameterType="String">
		select
		<include refid="Base_query_column" />
		from sys_user_role where sur_id= #{sur_id}
	</select>

	<select id="queryByCondition" resultType="com.demo.xianghuan.common.sys.model.SysUserRole" parameterType="java.util.Map">
		select <include refid="Base_query_column" /> from sys_user_role where 1=1
		<include refid="Base_query_where" />
		<if test="sqlWhere != null">
			 #{sqlWhere}
		</if>
	</select>
	
	<select id="getRecordCount" resultType="int" parameterType="java.util.Map">
		select count(1) from sys_user_role where 1 = 1
		<include refid="Base_query_where" />
		<if test="sqlWhere != null">
			 #{sqlWhere}
		</if>
	</select>
	
	<select id="select" resultType="com.demo.xianghuan.common.sys.model.SysUserRole" parameterType="java.util.Map">
		select <include refid="Base_query_column" /> from sys_user_role where 1=1
		<include refid="Base_query_where" />
		<if test="sqlWhere != null">
			 #{sqlWhere}
		</if>
	</select>
</mapper>