<div class="setting_panel panel-default text-center">
    <div class="panel-heading text-left">
        <div class="setting_nav">
            <ul>
                <li><a href="">绑定公众号</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <p class="lead">绑定微信公众号，把账户和微信打通</p>
        <p class="lead">
            <a class="setting_btn btn-lg btn-success" role="button" ui-sref="index.settingList.barcode"><i class="fa fa-wechat"></i> 登录微信，立即设置</a>
        </p>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-left well">
                <h5>温馨提示：</h5>
                <ul >
                    <li class="f14">一个微信公众号只能和一个帐户绑定</li>
                    <li class="f14">认证服务号绑定之后，如果需要解绑可以联系客服操作</li>
                    <li class="f14">为保证账户功能正常，授权时请保持默认选择</li>
                </ul>
            </div>
        </div>
    </div>
</div>
