<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">轮播图列表</a></li>
			</ul>
		</div>
	</div>
	<div class="search-filter-box">
		<div>
			<label>启用状态<span>:</span></label>
			<select ng-model="searchParam.fb_state">
				<option value="{{x.id}}" ng-repeat="x in stateList">{{x.name}}</option>
			</select>
			<label>审核状态<span>:</span></label>
			<select ng-model="searchParam.fb_checkstate">
				<option value="{{x.id}}" ng-repeat="x in checkstateList">{{x.name}}</option>
			</select>
			<label>类型<span>:</span></label>
			<select ng-model="searchParam.fb_type">
				<option value="{{x.id}}" ng-repeat="x in typeList">{{x.name}}</option>
			</select>

		</div>
		<div>
			<label>显示位置<span>:</span></label>
			<select ng-model="searchParam.fb_location">
				<option value="{{x.bd_code}}" ng-repeat="x in locationList">{{x.bd_name}}</option>
			</select>

			<label>关键字<span>:</span></label>
			<input type="text" placeholder="标题名称" ng-model="searchParam.searchKey">
		</div>

		<div>
			<a class="btn btn-success" style="margin-left:80px;" ng-click="searchFun();"><i class="glyphicon glyphicon-filter"></i>
				筛选</a>
			<a class="btn btn-default" ng-click="clearParams();;searchFun();" style="text-shadow: none !important; color: #333 !important;"><i
				 class="icon icon-eraser"></i> 清空</a>
			<a class="btn btn-success add-btn" style="float:right;margin-right:50px;" ui-sref="index.setting.focusAdd"><i class="icon icon-plus"></i>新增</a>
		</div>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default" style="border: 0; border-radius: 0;">
					<div class="panel-heading f14" style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
						<i class="icon icon-list"></i> 共{{pager.total}}条记录
					</div>

					<table class="table table3 table-bordered table-hover user_table">
						<thead>
							<tr>
								<th>序号</th>
								<th>图片</th>
								<th style="width:20%;">标题</th>
								<th>类型</th>
								<th style="width:75px;">时间</th>
								<!-- <th>跳转类型</th> -->
								<th>显示位置</th>
								<th>排序</th>
								<th>添加人</th>
								<th>审核状态</th>
								<th style="max-width:15%;">审核</th>
								<th>是否启用</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in logList">
								<td class="text-center f14">{{pager.rows * (pager.page - 1)+ $index+1}}</td>
								<td class="text-center f14">
									<img src="{{x.fb_cover_show}}" style="height:100px;" >
								</td>
								<td class="text-center f14"><span title="{{x.fb_title}}">{{x.fb_title}}</span></td>
								<td class="text-center f14">
									<span ng-if="x.fb_type==2">图片 </span>
									<span ng-if="x.fb_type==1">视频 </span>
								</td>
								<td class="text-center f14">{{x.fb_start}}<br>{{x.fb_end}}</td>
								<!-- <td class="text-center f14">类型</td> -->
								<td class="text-center f14">
									{{x.fb_location_nameref}}

								</td>
								<td class="text-center f14">
									{{x.fb_sort}}

								</td>
								<td class="text-center f14">{{x.fb_adduser_nameref}}</td>
								<td class="text-center f14">
									{{x.fb_checkstate_nameref}}

								</td>
								<td class="text-center f14">
									<a class="common_btns common_active" ng-if="x.fb_checkstate == 1" ng-click="showCheckBox(x)" title="审核"></a>
									<span ng-if="x.fb_checkstate != 1" title="{{x.fb_checkcomment}}">{{x.fb_checkcomment}}</span>
								</td>
								<td class="text-center f14">
									{{x.fb_state_nameref}}
								</td>
								<td class="text-center f14">
									<a class="common_btns common_active" ng-if="x.fb_state != 1" ng-click="updateState(x,1)" title="启用"></a>
									<a class="common_btns common_band" ng-if="x.fb_state == 1" ng-click="updateState(x,0)" title="禁用"></a>
									<a class="common_btns common_edit" ng-click="goEdit(x)" title="编辑"></a>
								</td>
							</tr>
						</tbody>
					</table>
					<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 添加备注弹窗 -->
<div class="dialog" ng-show="checkBoxShow" style="z-index:88">
	<div class="dialog-zdc"></div>
	<div class="dg-xg-zh" style="z-index:1000; width:608px;height:360px;margin-left: -369px; top:80px;" ng-show="checkBoxShow">
		<div class="dg-xg-js" style="width:608px;">
			审核
			<div class="dg-cancle" ng-click="checkBoxShow=false"></div>
		</div>
		<div class="clearfix" style="padding: 0 10px; box-sizing: border-box;">
			<form class="form-horizontal">
				<div class="dg-content" style="width: 100%; margin-bottom:10px;margin-top:30px;">
					<div>
						<textarea name="comment" id="comment" cols="30" rows="10" maxlength="150" style="width:100%;height:200px;"></textarea>
					</div>
					<div style="text-align:right;">
						<span>审核意见最多支持150字</span>
					</div>
				</div>
				<div class="dg-submint" style=" width:100%; text-align: center; margin-bottom:20px;">
					<div class="btnStyle Btncolor1 BtnHover1" ng-click="updateCheckstate(2);">审核通过</div>
					<div class="btnStyle Btncolor2 BtnHover2" ng-click="updateCheckstate(3)">审核不通过</div>
				</div>
			</form>
		</div>
	</div>
</div>