<div class="setting_panel panel-default">
    <div class="panel-heading text-left">
        <div class="setting_nav">
            <ul>
                <li><a href="">会员列表</a></li>
            </ul>
        </div>
    </div>
    <div class="search-filter-box">
    	<div>
			<label>注册时间<span>:</span></label>
            <span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()"
				 ng-click="dateRange.chooseDate($event)" > 日期 </span>
            <input id="start_date" type="text" class="Wdate" style="margin-left:-4px;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
                />
            <input id="end_date" type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
                />
            <label>关键字<span>:</span></label>
            <input type="text" placeholder="请输入姓名或手机号" ng-model="searchParam.search_key">
        </div>
        
        <div>
            <a class="btn btn-success" style="margin-left:80px;"  ng-click="searchFun();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
			<a class="btn btn-default" ng-click="clearParams();searchFun();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
        </div>
    </div>
    
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" style="border: 0; border-radius: 0;">
                    <div class="panel-heading f14" style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
                        <i class="icon icon-list"></i> 共{{pager.total}}条记录
                    </div>
                    
                    <table class="table table3 table-bordered table-hover user_table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>头像</th>
                                <th>用户名</th>
                                <th>手机号</th>
                                <th>注册时间</th>
                                <th>来源</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in userList">
                                <td class="text-center f14">{{pager.rows * (pager.page - 1)+ $index+1}}</td>
                                <td class="text-center f14" ><img width="20" ng-src="{{x.ma_def2}}" ></td>
                                <td class="text-center f14">{{x.ma_def3}}</td>
                                <td class="text-center f14">{{x.mb_mobile}}</td>
                                <td class="text-center f14">{{x.ma_addtime}}</td>
                                <td class="text-center f14">{{x.ma_sourcename}}</td>
                                <td class="text-center f14"></td>
                            </tr>
                        </tbody>
                    </table>
                    <tm-pagination conf="pager" search-param ="searchParam"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</div>