<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">参数列表</a></li>
			</ul>
		</div>
	</div>
	
	<div class="search-filter-box">
		<div>
			<label>柜子类型<span>:</span></label>
			<select ng-model="searchParam.bbs_box_type">
				<option  value="" >--全部--</option>
				<option ng-repeat="x in boxTypeList" value="{{x.bd_code}}" ng-checked="searchParam.bbs_box_type==x.bd_code">{{x.bd_name}}</option>
			</select>
			<label>配置类型<span>:</span></label>
			<select ng-model="searchParam.bbs_type">
				<option  value="" >--全部--</option>
				<option  value="1" >空调</option>
				<option  value="2" >灯带</option>
			</select>
		</div>
		<div>
			<a class="btn btn-success" style="margin-left:80px;" ng-click="doSearch()"><i class="glyphicon glyphicon-filter"></i>
				筛选</a>
			<a class="btn btn-default" ng-click="searchParam.searchKey='';" style="text-shadow: none !important; color: #333 !important;"><i
				 class="icon icon-eraser"></i> 清空</a>
			<a class="btn btn-success add-btn" style="float:right;margin-right:50px;" ng-click="toEdit();"><i class="icon icon-plus"></i>新增</a>
		</div>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default"
					style="border: 0; border-radius: 0;">
					<div class="panel-heading f14"
						style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
						<i class="icon icon-list"></i> 共{{pager.total}}条记录
					</div>

					<table class="table table3 table-bordered table-hover user_table">
						<thead>
							<tr>
								<th>序号</th>
								<th>区域编码</th>
								<th>柜子类型</th>
								<th>配置类型</th>
								<th>生效时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in parameterList">
								<td class="text-center f14">{{pager.rows * (pager.page -
									1)+ $index+1}}</td>
								<td class="text-center f14">{{x.bbs_areacode_nameref}}</td>
								<td class="text-center f14">{{x.bbs_box_type_nameref}}</td>
								<td class="text-center f14">{{x.bbs_type_nameref}}</td>
								<td class="text-center f14">{{x.bbs_date}} {{x.bbs_hour}}</td>
								<td class="text-center f14">
									<a class="common_btns common_edit" ng-click="toEdit(x.bbs_id)" title="修改"></a>
									<a class="common_btns common_delete" ng-click="toDelete(x)" title="删除"></a>
								</td>
							</tr>
						</tbody>
					</table>
					<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 遮挡层 -->
<div class="dialog" ng-show="dialogShow">
	<div class="dialog-zdc"></div>
		<!-- 弹出添加计量参数框 -->
		<div class="dg-xg-zh" style="width: 620px; margin-left: -310px; top: 50%; margin-top: -142px;" ng-show="dialogShow">
			<div class="dg-xg-js" style="width: 620px">
				{{dialogTitle}}
				<div class="dg-cancle" ng-click="closeDialog()"></div>
			</div>
			<div class="dg-content" style="margin: 12px auto; overflow: visible;">
				<div id="formJiLu" class="formJiLu" style="border: none">
					<form>
						<div>
							<input type="hidden" ng-model="vo.bbs_id">
							<div class="contentGroup clearfix">
								<div class="zk_controlLabel" style="width: 100px;">
									<span class="f14">区域</span> <i class="f14">*</i>
								</div>
								<div class="floatLeft p10left f14">
									<input style="width: 100px;" type="text" name="bbs_areaname"
									 ng-model="vo.bbs_areacode_nameref" readonly="readonly">
									<div class="btn btn-default" ng-click="showCityDialog()">选择服务区域</div>
								</div>
							</div>
							<div class="contentGroup clearfix" style="margin-top:5px;">
								<div class="zk_controlLabel" style="width: 100px;">
									<span class="f14">柜子类型</span> <i class="f14">*</i>
								</div>

								<div class="floatLeft p10left">
									<select ng-model="vo.bbs_box_type">
										<option ng-repeat="x in boxTypeList" value="{{x.bd_code}}">{{x.bd_name}}</option>
									</select>
								</div>
							</div>
							<div class="contentGroup clearfix" style="margin-top:5px;">
								<div class="zk_controlLabel" style="width: 100px;">
									<span class="f14">配置类型</span>
								</div>

								<div class="floatLeft p10left">
									<div class="zk_controlRadio" style=" width: 200px;">
										<lable class="xt_inputRadio m10right" style="margin-bottom:8px">
											<input class="xt_radio ng-pristine ng-untouched ng-valid valid" name="bbs_type" ng-model="vo.bbs_type" value="1" type="radio" ng-checked="vo.bbs_type==1" checked="checked">
											<div class="xt_inputBackimg"></div>空调
										</lable>
										<lable class="xt_inputRadio m10right" style="margin-bottom:8px">
										<input class="xt_radio ng-pristine ng-untouched ng-valid" name="bbs_type" ng-model="vo.bbs_type" value="2" type="radio" ng-checked="vo.bbs_type==2">
											<div class="xt_inputBackimg"></div>灯带
										</lable>
									</div>
								</div>
							</div>
							<div class="contentGroup clearfix" style="margin-top:5px;">
								<div class="zk_controlLabel" style="width: 100px;">
									<span class="f14">生效月份</span><i class="f14">*</i>
								</div>
								<div class="floatLeft p10left">
									<input type="text" class="Wdate" style=" width: 70px; height: 34px; box-sizing: border-box;" id="date1"  onFocus="WdatePicker({dateFmt:'MM.dd',lang:'zh-cn'})"/>
									— <input type="text" class="Wdate" style=" width: 70px; height: 34px; box-sizing: border-box;" id="date2"  onFocus="WdatePicker({dateFmt:'MM.dd',lang:'zh-cn'})"/>
									
								</div>
							</div>
							<div class="contentGroup clearfix" style="margin-top:5px;">
								<div class="zk_controlLabel" style="width: 100px;">
									<span class="f14">生效时间</span><i class="f14">*</i>
								</div>
								<div class="floatLeft p10left">
									
									<input type="text" class="Wdate" style=" width: 100px; height: 34px; box-sizing: border-box;" id="hour1"  onFocus="WdatePicker({dateFmt:'HH:mm',lang:'zh-cn'})"/>
									— <input type="text" class="Wdate" style=" width: 100px; height: 34px; box-sizing: border-box;" id="hour2"  onFocus="WdatePicker({dateFmt:'HH:mm',lang:'zh-cn'})"/>
									<input type="text" class="Wdate" style=" width: 100px; height: 34px; box-sizing: border-box;" id="hour3"  onFocus="WdatePicker({dateFmt:'HH:mm',lang:'zh-cn'})"/>
									— <input type="text" class="Wdate" style=" width: 100px; height: 34px; box-sizing: border-box;" id="hour4"  onFocus="WdatePicker({dateFmt:'HH:mm',lang:'zh-cn'})"/>
								</div>
							</div>
							<div class="contentGroup clearfix" style="margin-top:5px;">
								<div class="zk_controlLabel" style="width: 100px;">
									<span class="f14" style="line-height: 32px;">状态</span>
								</div>
								<div class="floatLeft p10left" >
									<zk-control-group ng-model="vo.bbs_state"
										data-option='[{"0":"禁用"},{"1":"启用"}]'></zk-control-group>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
			<div class="dg-bottom-color">
				<div class="dg-submint">
					<div class="btnStyle Btncolor1 BtnHover1" ng-click="create();">保存</div>
					<div class="btnStyle Btncolor2 BtnHover2" ng-click="closeDialog();">取消</div>
				</div>
			</div>
		</div>
</div>

<div class="dialog" ng-show="showCity">
	<div class="dialog-zdc"></div>
	<div class="dg-xg-zh"
		style=" width: 438px; margin-left: -219px; top: 50%; margin-top: -205px;"
		ng-show="showCity">
		<div class="dg-xg-js" style="width: 438px;">
			选择城市
			<div class="dg-cancle" ng-click="closeCityDialog()"></div>
		</div>
		<form role="form" name="myform">
			<div class="dg-content"
				style="margin-bottom: 0px; margin-top: 0px; height: 320px; overflow: auto; z-index: 100;">
				<div style="border-right: none;">
					<ul tree id="tree2" class="ztree f14"
						data-options='{"url":"/admin/base/baseAreaControl/queryBaseAreaTreeNew.action?state=1"}'
						mysetting='mysetting' style="width: 400px; overflow: auto; border-right: none;" max-length="25"></ul>
				</div>
			</div>
		</form>
		<div class="dg-submint"
			style="width: 100%; text-align: center; margin: 10px 0;">
			<div class="btnStyle Btncolor1 BtnHover1"
				ng-click="selectCity()">确定</div>
			<div class="btnStyle Btncolor2 BtnHover2"
				ng-click="closeCityDialog()">取消</div>
		</div>
	</div>
</div>
