<div class="cash-main">
	<div class="cash-top">
		<div class="yellow font-middle">您目前账户的红包余额为：</div>
		<div class="line-adjust">
			<span class="yellow font-big font-blod">100</span>
			<span class="yellow font-blod">元</span>
		</div>
	</div>
	<div class="cash-center">
		<div class="cash-btn">
			<img src="../../img/mobile/getCash/btn.png" ng-click="getCash()">
		</div>
	</div>
	<div class="cash-bottom" ng-click="showRule()">
		<span>领取说明</span>
	</div>
	<div class="cash-nav" ng-click="goCashList()"><span>红包明细</span></div>
</div>
