.starepage-m-main { padding-top: 10px; }
.starepage-m-main .starepage-m-bottom { width: 95%; margin: 0 auto; margin-top: 20px; }
.starepage-m-main .startpage-bar div { display: inline-block; text-align: left; }
.starepage-m-main .startpage-bar .startpage-first { font-size: 40px; font-weight: 600; margin-right: 20px; }
.starepage-m-main .startpage-bar .startpage-second { font-size: 18px; font-weight: 500; }
.starepage-m-main .startpage-bar .startpage-center { margin-top: 10px; }
