<div class="contentHtml-new" style=" z-index: 10001; background-color: #fff;">
	
	<div class="panel-body" style="margin-top: 55px; box-sizing: border-box;">
		<div class="row">
			<div class="col-sm-12">
				<div class="well">
					<ul class="progress-indicator">
						<li class="completed">
							<span class="bubble"></span>
							1.设置活动
						</li>
						<li class="completed">
							<span class="bubble"></span>
							2.设置奖项
						</li>
						<li class="completed">
							<span class="bubble"></span>
							3.设置活动页面
						</li>
						<li class="">
							<span class="bubble"></span>
							4.确认创建活动
						</li>
						<li class="">
							<span class="bubble"></span>
							5.完成
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="iphone-frame">
							<iframe src="views/publicHtml/demo.html" id="previewer" frameborder="0"></iframe>
							<div class="iphone-home-btn"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title">页面设置</div>
							</div>
							<div class="panel-body">
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">横幅图</label>
									<div class="col-md-9 col-lg-6">
										<img src="../../../img/subscribe_page_banner-1.png" alt="" class="img-thumbnail activity-thumbnail-middle" />
										<input type="file" style="height: auto; line-height: 1;" />
										<p class="help-block f14">尺寸：640 x 240px，格式：png，jpg</p>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">背景色</label>
									<div class="col-md-9">
										<div class="col-md-12" style="padding-left: 0; padding-right: 25px;">
                                        	<div data-color-format="rgb" data-color="rgb(255, 146, 180)" class="input-append colorpicker-default color">
                                            	<input type="text" value="" class="form-control">
                                            	<span class=" input-group-btn add-on">
                                                	<button class="btn btn-white" type="button" style="padding: 8px">
                                                	<i style="background-color: rgb(124, 66, 84);"></i>
                                                 	</button>
                                            	</span>
                                        	</div>
                                    	</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">文字色</label>
									<div class="col-md-9">
										<div class="col-md-12" style="padding-left: 0; padding-right: 25px;">
                                        	<div data-color-format="rgb" data-color="rgb(255, 146, 180)" class="input-append colorpicker-default color">
                                            	<input type="text" value="" class="form-control">
                                            	<span class=" input-group-btn add-on">
                                                	<button class="btn btn-white" type="button" style="padding: 8px">
                                                	<i style="background-color: rgb(124, 66, 84);"></i>
                                                 	</button>
                                            	</span>
                                        	</div>
                                    	</div>
										<p class="help-block f14">设置活动说明等文字的颜色</p>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">发行方</label>
									<div class="col-md-9">
										<input type="text" class="form-control" />
										<p class="help-block f14">活动发行方，默认为公众号名称</p>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14">活动说明</label>
									<div class="col-md-9">
										<div class="clearfix f14">此处时编辑器</div>
										<p class="help-block f14">活动说明, 将在活动页面显示。请描述活动内容，奖项设置等信息。</p>
									</div>
								</div>
								<hr />
								<a href="#/index/activityAdd/newActivity/activityConfirm" class="btn btn-success">保存，并下一步</a>
								<a href="#/index/activityAdd/newActivity/prizeEdit" class="btn btn-default" style=" text-shadow: none !important; color: #333 !important;">上一步</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
