<div class="contentHtml-new" style=" z-index: 10001; background-color: #fff;">
	
	<div class="panel-body" style="margin-top: 55px; box-sizing: border-box;">
		<div class="row">
			<div class="col-sm-12">
				<div class="well">
					<ul class="progress-indicator">
						<li class="completed">
							<span class="bubble"></span>
							1.设置活动
						</li>
						<li class="completed">
							<span class="bubble"></span>
							2.设置奖项
						</li>
						<li class="completed">
							<span class="bubble"></span>
							3.设置活动页面
						</li>
						<li class="completed">
							<span class="bubble"></span>
							4.确认创建活动
						</li>
						<li class="completed">
							<span class="bubble"></span>
							5.完成
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<div class="page-header text-success">
								<h3>
									<i class="glyphicon glyphicon-ok-sign"></i>
									 活动创建成功！
								</h3>
							</div>
							<p class="img-thumbnail">
								<img src="../../../img/qrcode_zhoubao.png" alt="" width="260" height="260" />
							</p>
							<h5>扫码预览活动</h5>
							<hr />
							<a href="#/index/activityAdd/newActivity/activityFinish" class="btn btn-success">
								<i class="glyphicon glyphicon-eye-open"></i>
								查看活动详情
							</a>
							<a href="#/index/activityAdd/newActivity/activityPageEdit" class="btn btn-default" style=" text-shadow: none !important; color: #333 !important;">
								<i class="glyphicon glyphicon-th-list"></i>
								返回活动列表
							</a>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>