<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">柜子汇总</a></li>
			</ul>
		</div>
    </div>
	<div class="search-filter-box">
		<div>
			<label>使用时间<span>:</span></label>
            <span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()"
				 ng-click="dateRange.chooseDate($event)" > 日期 </span>
            <input id="start_date" type="text" class="Wdate" style="margin-left:-4px;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
                />
            <input id="end_date" type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
                />
            <label>仓库<span>:</span></label>
            <select ng-model="searchParam.storeid">
                <option value="{{x.bs_id}}" ng-repeat="x in storeList">{{x.bs_name}}</option>
                
            </select>
        </div>
       
		<div>
			<a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
			<a class="btn btn-default" ng-click="clearParams();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
			<a class="btn btn-success" style="margin-left:80px;"  ng-click="doExport();" >导出数据</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default"
					style="border: 0; border-radius: 0;">
					<div class="panel-heading f14"
						style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
						<i class="icon icon-list"></i> 共{{pager.total}}条记录
					</div>

					<table class="table table3 table-bordered table-hover user_table">
						<thead>
							<tr>
								<th>序号</th>
								<th>区域</th>
								<th style="width: 100px;">地址 </th>
								<!-- <th>社区</th> -->
								<th>水柜编号</th>
								<th>水柜名称</th>
								<th>售卖商品</th>
								<th>微信总金额</th>
								<th>微信订单数</th>
								<th>水票总金额</th>
								<th>水票订单数</th>
								<th>小计金额</th>
								<th>小计数量</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in orderList">
								<td class="text-center f14">{{pager.rows * (pager.page -
									1)+ $index+1}}</td>
								<td class="text-center f14">{{x.owr_storeid_areanameref}}</td>
								<td class="text-center f14">{{x.owr_storeid_address}}</td>
								<!-- <td class="text-center f14">{{x.tm_productid_nameref}}</td> -->
								<td class="text-center f14">{{x.owr_storeid_code}}</td>
								<td class="text-center f14">{{x.owr_storeid_nameref}}</td>
								<td class="text-center f14">{{x.owr_productid_nameref}}</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.orderAmount"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.orderNum"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.ticketAmount"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.ticketNum"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.totalAmount"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.totalNum"></zk-format-num>
								</td>
							</tr>
						</tbody>
					</table>
					<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
