<div class="contentHtml-new" style="background-color: #fff;left:0;">

    <div class="content-box">
        <!-- 头部tab -->
        <div class="head-div" style="position:relative;">
            <div ng-show="false">
                <ul>
                    <li class="active">运营视窗</li>
                    <!-- <li>管理视窗</li> -->
                </ul>
            </div>
            <div class="select-box" style="margin-right:45%;">
                <select>
                    <option>日</option>
                    <option>周</option>
                    <option>月</option>
                    <option>季度</option>
                </select>

                <input type="text" class="Wdate" style="width: 85px; height: 21px; border-top-left-radius: 0; border-bottom-left-radius: 0;"
                    id="start_date" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',lang:'zh-cn'});$('.posRelative').removeClass('open');"
                />
            </div>
        </div>
        <!-- 整体看板 -->
        <div class="module-box">
            <div class="module-head">
                <div class="left-box">
                    <span class="title">客户概况</span>
                    <span class="time">更新时间：2018-08-13 15:32:09</span>
                </div>
                <div class="shop-box">
                    <span class="active">全店</span>|
                    <span>网店</span>|
                    <span>所有门店
                        <img src="/img/components/arrow_left.png" class="showShopList" style="transform: rotate(270deg);"
                        />
                    </span>
                    <div class="shop-list">
                        <ul>
                            <li>小李门店1</li>
                            <li>小张门店1</li>
                            <li>小王门店1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-box">
                <ul>
                    <li ng-class="{'active':tabSelect=='1'}" ng-click="tabSelect=1">客户概览</li>
                    <li ng-class="{'active':tabSelect=='2'}" ng-click="tabSelect=2">客户成交</li>
                    <li ng-show="false" ng-class="{'active':tabSelect=='3'}" ng-click="tabSelect=3">客户储值</li>
                </ul>
            </div>
            <div ng-show="tabSelect==1">
                <div class="module-content2">
                    <div>
                        <img style="transform:rotate(180deg);" src="/img/gd.png">
                    </div>
                    <div>
                        <div class="view-item check-item">
                            <div>新增客户数</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>新增会员数</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>累计客户数</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>累计会员数</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>累计会员占比</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="/img/gd.png">
                    </div>

                </div>
               
                <div class="chart-box bgWhite" >
                    <div id="chart-box-lines" style="width:100%;height:300px;"></div>
                </div>
            </div>
            <div ng-show="tabSelect==2">
                <div class="module-content2">
                    <div>
                        <img style="transform:rotate(180deg);" src="/img/gd.png">
                    </div>
                    <div>
                        <div class="view-item check-item">
                            <div>支付会员数</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>支付会员占比</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>会员支付金额</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>会员支付金额占比</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>会员客单价</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="/img/gd.png">
                    </div>

                </div>
               
                <div class="chart-box bgWhite" >
                    <div id="chart-box-lines2" style="width:100%;height:300px;"></div>
                </div>
            </div>
            <div ng-show="tabSelect==3">
                <div class="module-content2">
                    <div>
                        <img style="transform:rotate(180deg);" src="/img/gd.png">
                    </div>
                    <div>
                        <div class="view-item check-item">
                            <div>储值会员数</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>储值金额</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>储值支付会员数</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        <div class="view-item">
                            <div>储值支付金额</div>
                            <div>0.00</div>
                            <div>较前一日
                                <span>0.00%-</span>
                            </div>
                            <div>较上周同期
                                <span>0.00%-</span>
                            </div>
                        </div>
                        
                    </div>
                    <div>
                        <img src="/img/gd.png">
                    </div>

                </div>             
                <div class="chart-box">
                    <div id="chart-box-lines3" style="width:100%;height:300px;"></div>
                </div>
            </div>
        </div>
        <!-- 网站交易转化 -->
        <div class="module-box" ng-show="false">
            <div class="module-head">
                <div class="left-box">
                    <span class="title">客户来源渠道</span>
                    <span class="time">更新时间：2018-08-13 15:32:09</span>
                </div>
                <div class="shop-box">
                    <span class="active">全店</span>|
                    <span>网店</span>|
                    <span>所有门店
                        <img src="/img/components/arrow_left.png" class="showShopList" style="transform: rotate(270deg);"
                        />
                    </span>
                    <div class="shop-list">
                        <ul>
                            <li>小李门店1</li>
                            <li>小张门店1</li>
                            <li>小王门店1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="module-content5">
                <div>
                    <div class="table-title">客户来源渠道排行</div>
                    <table class="changeColor" style="width:80%;margin-left:10%;">
                            <thead style="background:#ddd;">
                                <th>排名</th>
                                <th>来源渠道</th>
                                <th>新增客户数</th>
                                <th>占比</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in [1,2,3,4]" style="border-bottom: 1px solid #eee;">
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
    
                                </tr>
                            </tbody>
    
                        </table>
                </div>
                <div>
                    <div id="chart-box-pie" style="width:100%;height:300px;"></div>
                </div>
            </div>    
        </div>
        <div class="module-box">
            <div class="module-head">
                <div class="left-box">
                    <span class="title">成交客户分析</span>
                    <span class="time">更新时间：2018-08-13 15:32:09</span>
                </div>
                <div class="shop-box">
                    <span class="active">全店</span>|
                    <span>网店</span>|
                    <span>所有门店
                        <img src="/img/components/arrow_left.png" class="showShopList" style="transform: rotate(270deg);"
                        />
                    </span>
                    <div class="shop-list">
                        <ul>
                            <li>小李门店1</li>
                            <li>小张门店1</li>
                            <li>小王门店1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bgWhite">
                <table style="width:100%;margin-top:15px;" class="changeColor">
                    <thead style="font-weight: bold;background:#ddd;">
                        <tr style="border-bottom: 1px solid #eee;">
                            <th>客户类型</th>
                            <th>成交客户数</th>
                            <th>客户数占比</th>
                            <th>支付订单数</th>
                            <th>客单价(元)</th>
                            <th>支付金额(元)</th>
                            <th>支付金额点比</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr  style="border-bottom: 1px solid #eee;" ng-repeat="x in [1,2,3,4]">
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                    </tbody>                            
                </table>
                <tm-pagination conf="pager" search-param ="searchParam"></tm-pagination>
            </div>
            <div class="bgWhite">
                <div id="chart-box-lines5" style="width:100%;height:300px;"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".showShopList").click(function () {
            $(".shop-list").hide();
            $(this).parents(".shop-box").find(".shop-list").show();
        });
    });

</script>