<div class="contentHtml" style="right: 240px;left: 0;">
	<div id="mainHtml" style="top: 0;">
		<div class="box" ng-show="false">
			<div class="box_header" >新娱推荐</div>
			<div class="box_content tofu-container">
				<div class="tuijian_box tofu-container">
					<div class="flex flex_cover"><img src="../../img/foolvoice.jpg" class="tuijian_cover"></div>
					<div class="flex flex_text">
						<p class="p_name">愚乐新闻</p>
						<p class="p_text1">愚乐新闻来了！</p>
						<p class="p_text2">10328个商家正在使用</p>
					</div>
					<div class="flex flex_btn">
						<a href="" class="dzbtn">查看详情</a>
						<a href="" class="dzbtn dzbtn-s2">立即创建</a>
					</div>
				</div>
				<div class="tuijian_box tofu-container" style="margin-left: 14px;">
					<div class="flex flex_cover"><img src="../../img/foolvoice.jpg" class="tuijian_cover"></div>
					<div class="flex flex_text">
						<p class="p_name">愚乐新闻</p>
						<p class="p_text1">愚乐新闻来了！</p>
						<p class="p_text2">10328个商家正在使用</p>
					</div>
					<div class="flex flex_btn">
						<a href="" class="dzbtn">查看详情</a>
						<a href="" class="dzbtn dzbtn-s2">立即创建</a>
					</div>
				</div>
			</div>
			<!-- <div class="box_content tofu-container">
				<div class="tuijian_box tofu-container">
					<div class="flex flex_cover"><img src="../../img/foolvoice.jpg" class="tuijian_cover"></div>
					<div class="flex flex_text">
						<p class="p_name">愚乐新闻</p>
						<p class="p_text1">愚乐新闻来了！</p>
						<p class="p_text2">10328个商家正在使用</p>
					</div>
					<div class="flex flex_btn">
						<a href="" class="dzbtn">查看详情</a>
						<a href="" class="dzbtn dzbtn-s2">立即创建</a>
					</div>
				</div>
				<div class="tuijian_box tofu-container" style="margin-left: 14px;">
					<div class="flex flex_cover"><img src="../../img/foolvoice.jpg" class="tuijian_cover"></div>
					<div class="flex flex_text">
						<p class="p_name">愚乐新闻</p>
						<p class="p_text1">愚乐新闻来了！</p>
						<p class="p_text2">10328个商家正在使用</p>
					</div>
					<div class="flex flex_btn">
						<a href="" class="dzbtn">查看详情</a>
						<a href="" class="dzbtn dzbtn-s2">立即创建</a>
					</div>
				</div>
			</div> -->
		</div>
		<div class="box">
			<div class="box_header">常用功能</div>
			<div class="box_content clearfix">
				<div class="tofu-container" style="margin-right: -15px;">
					<a href="javascript:void(0);" ng-click="goPromotion();" class="tofu tofu-green">
						<h4>营销管理</h4>
					</a>
					<a href="" ng-click="goOrder();" class="tofu tofu-cyan">
						<h4>订单管理</h4>
					</a>
					<a href="javascript:void(0);" ng-click="goProduct();" class="tofu tofu-blue">
						<h4>商品管理</h4>
					</a>
					<a href="javascript:void(0);" ng-click="goMember();" class="tofu tofu-purple">
						<h4>会员中心</h4>
					</a>
				</div>
			</div>
		</div>
		<!-- <div class="news-container tofu-container clearfix" style="margin-bottom: 15px;">
			<div class="box" style="margin-right: 14px;">
				<div class="box_header">盒子周报</div>
				<div class="box_content clearfix">
					<ul class="news_list clearfix">
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
					</ul>
					<div class="qrcode_box">
						<div class="qrcode"><img src="../../img/qrcode_zhoubao.png"></div>
						<p class="qrcode_text">微信扫一扫，查看更多</p>
					</div>
				</div>
			</div>
			<div class="box" style="margin-right: 14px;">
				<div class="box_header">盒子动态</div>
				<div class="box_content clearfix">
					<ul class="news_list clearfix">
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
						<li><a href="">社区盒子荣获新一届格莱美创新大奖，众人齐呼牛X</a></li>
					</ul>
					<div class="qrcode_box">
						<div class="qrcode"><img src="../../img/qrcode_zhoubao.png"></div>
						<p class="qrcode_text">微信扫一扫，查看更多</p>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>
