<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">账号列表</a></li>
			</ul>
		</div>
	</div>
	<div class="search-filter-box">
		<div>
			<label>关键字<span>:</span></label>
			<input type="text" placeholder="账号名称" ng-model="searchParam.searchKey">
		</div>

		<div>
			<a class="btn btn-success" style="margin-left:80px;" ng-click="doSearch()"><i class="glyphicon glyphicon-filter"></i>
				筛选</a>
			<a class="btn btn-default" ng-click="searchParam.searchKey='';doSearch();" style="text-shadow: none !important; color: #333 !important;"><i
				 class="icon icon-eraser"></i> 清空</a>
			<a class="btn btn-success add-btn" style="float:right;margin-right:50px;" ng-click="toEdit();"><i class="icon icon-plus"></i>新增</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default"
					style="border: 0; border-radius: 0;">
					<div class="panel-heading f14"
						style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
						<i class="icon icon-list"></i> 共{{pager.total}}条记录
					</div>

					<table class="table table3 table-bordered table-hover user_table">
						<thead>
							<tr>
								<th>序号</th>
								<th ng-class="sortFun('wp_name',true);" ng-click="clickSortFun('wp_name');">账号名称</th>
								<th ng-class="sortFun('wp_mchid',true);" ng-click="clickSortFun('wp_mchid');">微信商户号</th>
								<!-- <th>API密钥</th>
								<th>证书密码</th>
								<th>证书的本地路径	</th> -->
								<th ng-class="sortFun('wp_state',true);" ng-click="clickSortFun('wp_state');">状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in baseBrandList">
								<td class="text-center f14">{{pager.rows * (pager.page -
									1)+ $index+1}}</td>
								<td class="text-left f14">{{x.wp_name}}</td>
								<td class="text-left f14">{{x.wp_mchid}}</td>
							<!-- 	<td class="text-left f14">{{x.wp_key}}</td>
								<td class="text-left f14">{{x.wp_certpassword}}</td>
								<td class="text-left f14">{{x.wp_certlocalpath}}</td> -->
								<td class="text-left f14">{{x.wp_state_nameref}}</td>
								<td class="text-center f14">
									<a class="common_btns common_edit" ng-click="toEdit(x.wp_id)" title="修改"></a>
									<a class="common_btns common_delete" ng-click="toDelete(x.wp_id)" title="删除"></a>
								</td>
							</tr>
						</tbody>
					</table>
					<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 弹窗 -->
<div class="dialog" ng-if="dialogShow">
		<form name="detail" id="detail">
	<div class="dialog-zdc"></div>	
		<div class="dg-xg-zh" style="width: 620px; margin-left: -310px; top: 50%; margin-top: -212px;" ng-show="dialogShow">
			<div class="dg-xg-js" style="width: 620px">
				{{dialogTitle}}
				<div class="dg-cancle" ng-click="closeDialog()"></div>
			</div>
			<div class="dg-content" style="margin: 12px auto; overflow: visible;">
				<form>
				<div id="formJiLu" class="formJiLu" style="border: none">
				
						<div>
							<input type="hidden" ng-model="vo.wp_id">

							<div class="contentGroup clearfix">
								<div class="zk_controlLabel">
									<span class="f14">账号名称</span> <i>*</i>
								</div>

								<div class="floatLeft p10left">
									<input style="width: 226px;" type="text" name="wp_name"
										ng-model="vo.wp_name" maxlength="20" required="true">
								</div>
							</div>
							<div class="contentGroup clearfix">
								<div class="zk_controlLabel">
									<span class="f14">微信商户号</span><i>*</i>
								</div>

								<div class="floatLeft p10left">
									<input style="width: 226px;" type="text" name="wp_mchid"
										ng-model="vo.wp_mchid" maxlength="100" required="true">
								</div>
							</div>
							<div class="contentGroup clearfix">
								<div class="zk_controlLabel">
									<span class="f14">API密钥</span> <i>*</i>
								</div>

								<div class="floatLeft p10left">
									<input style="width: 226px;" type="text" name="wp_key"
										ng-model="vo.wp_key" maxlength="100" required="true">
								</div>
							</div>
							<div class="contentGroup clearfix">
								<div class="zk_controlLabel">
									<span class="f14">证书密码</span> <i>*</i>
								</div>

								<div class="floatLeft p10left">
									<input style="width: 226px;" type="text" name="wp_certpassword"
										ng-model="vo.wp_certpassword" maxlength="100" required="true">
								</div>
							</div>
							<div class="contentGroup clearfix">
								<div class="zk_controlLabel">
									<span class="f14">证书路径</span>
								</div>

								<div class="floatLeft p10left">
									<input style="width: 226px;" type="text" name="wp_certlocalpath"
										ng-model="vo.wp_certlocalpath" maxlength="200" required="true">
								</div>
							</div>
							<div class="contentGroup clearfix">
								<div class="zk_controlGroup" style="width: 400px; height:auto">
									<div class="zk_controlLabel">
										<span class="f14">状态</span>
									</div>
									<div class="zk_controlInput" style="width: 220px; height:35px; overflow:hidden">
										<zk-control-group ng-model="vo.wp_state" htmlid="wp_state"
											data-option='[{"0":"禁用"},{"1":"启用"}]' ></zk-control-group>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="dg-bottom-color">
				<div class="dg-submint">
					<div class="btnStyle Btncolor1 BtnHover1"
						ng-click="createBrand();">保存</div>
					<div class="btnStyle Btncolor2 BtnHover2" ng-click="closeDialog();">取消</div>
				</div>
			</div>
		</div>
	</form>
</div>