<!-- <div class="slidebar2">
	<p class="nav_header">基本设置</p>
	<ul ng-init="selected=0">
		<li ui-sref=".account" ng-class="{true:'selected',false:''}[selected==0]" ng-click="selected=0"><a href="">账户设置</a></li>
		<li ui-sref=".wechat" ng-class="{true:'selected',false:''}[selected==1]" ng-click="selected=1"><a href="">微信公众号</a></li>
		<li ui-sref=".pay" ng-class="{true:'selected',false:''}[selected==2]" ng-click="selected=2"><a href="">微信支付设置</a></li>
		<li ui-sref=".shop" ng-class="{true:'selected',false:''}[selected==3]" ng-click="selected=3"><a href="">积分商城设置</a></li>
		<li ui-sref=".admin" ng-class="{true:'selected',false:''}[selected==4]" ng-click="selected=4"><a href="">管理员设置</a></li>
		<li ui-sref=".bind" ng-class="{true:'selected',false:''}[selected==5]" ng-click="selected=5"><a href="">绑定公众号</a></li>
	</ul>
</div>
<div class="contentHtml" style="left:180px">
	
	<div class="setting_main">
		路由
		<div data-ui-view=""></div>
	</div>
</div> -->
<div class="contentHtml" style="padding: 10px;">
	<!-- 路由 -->
	<div data-ui-view=""></div>
</div>
