<div class="contentHtml-new" style=" z-index: 10001; background-color: #fff;">
	
	<div class="panel-body" style="margin-top: 55px; box-sizing: border-box;">
		<div class="row">
			<div class="col-sm-12">
				<div class="well">
					<ul class="progress-indicator">
						<li class="completed">
							<span class="bubble"></span>
							1.买家下单
							<br />
							<small>2017-05-24 17:21</small>
						</li>
						<li class="completed">
							<span class="bubble"></span>
							2.买家支付
							<br />
							<small>2017-05-24 17:21</small>
						</li>
						<li class="">
							<span class="bubble"></span>
							3.商家确认
						</li>
						<li class="">
							<span class="bubble"></span>
							4.商家发货
						</li>
						<li class="">
							<span class="bubble"></span>
							5.完成
						</li>
					</ul>
				</div>
				<div class="alert alert-warning">
					<h4>订单处理</h4>
					<ul style="padding-left: 45px;">
						<li class="f14">请确认订单信息无误，确认接收订单后无法取消。</li>
						<li class="f14">关闭订单后无法恢复。</li>
					</ul>
					<a href="" class="btn btn-success">
						<i class="icon-check-sign"></i>
						  接收订单
					</a>
					<a href="" class="btn btn-danger">
						<i class="icon-remove"></i>
						 关闭订单
					</a>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
								<h4>
									<i class="icon-file-text"></i>
									 订单信息
								</h4>
								<table class="table table-loose table-hover table-fontSize">
									<tbody>
										<tr>
											<td>下单时间</td>
											<td>2017-05-24 17:21</td>
										</tr>
										<tr>
											<td>订单号</td>
											<td>2210680597</td>
										</tr>
										<tr>
											<td>订单状态</td>
											<td>
											    <span class="label label-success">已提交</span>
											</td>
										</tr>
										<tr>
											<td>总金额</td>
											<td>
												<table class="text-right table-fontSize table-tdHeight" style="background-color: transparent !important;">
													<tbody>
														<tr>
															<td class="text-right">礼品小计</td>
															<td class="text-right">
																<span>
																	0
																	<span>元</span>
																</span>
															</td>
														</tr>
														<tr label="运费">
															<td class="text-right">运费</td>
															<td class="text-right">
																<span>
																	0.0
																	<span>元</span>
																</span>
															</td>
														</tr>
														<tr label="总计" class="bg-danger">
															<td class="text-right">总计</td>
															<td class="text-right">
																<span>
																	0.0
																	<span>元</span>
																</span>
															</td>
														</tr>
													</tbody>
    											</table>
											</td>
										</tr>
										<tr>
											<td>买家</td>
											<td>123</td>
										</tr>
										<tr>
											<td>附加信息</td>
											<td>
    											<table class="text-left table-fontSize table-tdHeight" style="background-color: transparent !important;">
													<tbody>
														<tr>
															<td class="text-left">二维码序号</td>
															<td class="text-left">0000000002</td>
														</tr>
														<tr>
															<td class="text-left">姓名</td>
															<td class="text-left"></td>
														</tr>
												        <tr>
												        	<td class="text-left">手机号</td>
												        	<td class="text-left"></td>
												        </tr>
												        <tr>
												        	<td class="text-left">微信号</td>
												        	<td class="text-left"></td>
												        </tr>
												        <tr>
												        	<td class="text-left">身份证号</td>
												        	<td class="text-left"></td>
												        </tr>
												        <tr>
												        	<td class="text-left">其他</td>
												        	<td class="text-left"></td>
												        </tr>
													</tbody>
											    </table>
											</td>
										</tr>
										<tr>
											<td>留言</td>
											<td>123</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<h4>
									<i class="icon-money"></i>
									 支付信息
								</h4>
								<table class="table table-loose table-hover">
    								<tbody>
    									<tr>
    										<td>支付时间</td>
    										<td>2017-05-24 17:21</td>
    									</tr>
    									<tr>
    										<td>支付通道</td>
    										<td>微信支付</td>
    									</tr>
    									<tr>
    										<td>支付单号</td>
    										<td>2</td>
    									</tr>
									    <tr>
									    	<td>外部订单号</td>
									    	<td>1</td>
									    </tr>
									    <tr>
									    	<td>实付</td>
									    	<td>
												<span class="f14">
													0.0
													<span>元</span>
												</span>
											</td>
									    </tr>
    								</tbody>
								</table>
							</div>
    					</div>
    					<hr>
						<div class="row">
        					<div class="col-sm-6">
								<h4>
									<i class="icon-map-marker"></i>
									 收货信息
								</h4>
								<table class="table table-loose table-hover">
								    <tbody>
								    	<tr>
								    		<td>姓名</td>
								    		<td>张杰</td>
								    	</tr>
									    <tr>
									    	<td>电话</td>
									    	<td>18501308888</td>
									    </tr>
									    <tr>
									    	<td>地址</td>
									    	<td>天津市 市辖区 和平区 123456</td>
									    </tr>
									</tbody>
								</table>
					        </div>
					        <div class="col-sm-6">
								<h4>
									<i class="icon-truck"></i>
									 发货信息
								</h4>
								<!--<p class="detail-blank f14">尚未发货</p>-->
								<table class="table table-loose table-hover">
								    <tbody>
								    	<tr>
								    		<td>发货时间</td>
								    		<td>2017-06-08 13:45:01</td>
								    	</tr>
									    <tr>
									    	<td>快递公司</td>
									    	<td>申通快递</td>
									    </tr>
									    <tr>
									    	<td>快递单号</td>
									    	<td>123467874</td>
									    </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default" style="border: 0;">
				    <div class="panel-heading f14" style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0;">
				    	<i class="icon-list"></i>
				    	 商品清单
				    </div>
					<table id="" class="table table3 table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-left f14">图片</th>
								<th class="text-left f14">名称</th>
								<th class="text-left f14">类型</th>
								<th class="text-left f14">单价</th>
								<th class="text-left f14">数量</th>
								<th class="text-left f14">小计</th>
							</tr>
						</thead>
						<tbody>
	        				<tr>
								<td class="text-left f14"><img height="60" src="../../../img/20160707.png" alt=""></td>
								<td class="text-left f14">可口可乐</a></td>
								<td class="text-left f14">实物礼品</td>
								<td class="text-right">
									<span class="f14">
										0.0
										<span>元</span>
									</span>
								</td>
								<td class="text-right f14">1</td>
								<td class="text-right">
									<span class="f14">
										0
										<span>元</span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="panel-footer" style="background-color: #fff; border: 1px solid #ddd; border-top: 0;">
						<h5 class="text-right f14">
							共
							<strong>1</strong>
							件商品，合计：
							<strong>
								<span class="f14">
									0
									<span>元</span>
								</span>
							</strong>
						</h5>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal" >
							<h5>订单备注</h5>
							<hr>
							<div class="form-group">
								<label class="col-md-3 col-lg-2 control-label f14" >备注</label>
								<div class="col-md-9 col-lg-6">
									<textarea class="form-control"></textarea>
								</div></div>
							<hr>
							<a href="" class="btn btn-success">保存备注</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>