<div class="game-container">
	<div class="headers">
		<h3>核销密码设置：</h3>
	</div>
	<p class="f14">亲爱的用户，您正在为账户13810669369设置核销密码。设置后，您将可以使用核销密码直接在中奖粉丝手机进行核销操作。</p>
	<form action="" class="form-horizontal">
		<div class="control-group">
			<label for="" class="control-label">核销密码</label>
			<div class="controls">
				<input class="f14" type="text" style="width: 220px;" maxlength="6" placeholder="请输入6位数字核销密码" />
				<span class="maroon f14">*</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="f14" type="text" style="width: 220px;" maxlength="6" placeholder="请再次输入6位数字核销密码" />
				<span class="maroon f14">*</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-success" style="width: 90px;">保存</button>
				<button class="btn btn-default black" style="width: 90px; text-shadow: none !important;">返回</button>
			</div>
		</div>
	</form>
</div>
