.fa-lg { font-size: 1.33333333em; line-height: 0.75em; vertical-align: -15%;}
.fa-3x { font-size: 50px;}
.fileBtn {width: 100px; height: 34px; cursor: pointer; filter:alpha(opacity=0); -moz-opacity:0; opacity: 0; position: absolute; z-index: 1;}
.addPicBtn { width: 100px; height: 34px; overflow: hidden;}
h1.stock_quantity { margin: 50px; font-size: 48px;}
.left-border { border-left: 1px solid #CCC;}
.table-empty { margin: 50px 0px; color: #bbb;}

.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px !important; font-size: 14px !important; line-height: 1.42857143; color: #555555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; box-sizing: border-box;}
.page-header { padding-bottom: 9px; margin: 0 0 10px 0; border-bottom: 1px solid #ddd;}
.page_actions { padding-left: 10px; margin-left: 5px;}
.page_toolbar { margin-bottom: 10px; border-bottom: 1px dashed #ccc; padding: 10px; background: #EEE; margin-top: -11px;}

.filter .form-group, .search .form-group { margin: 0px 10px 5px;}
.filter label, .search label { width: 100px; max-width: 100px; text-align: right; padding-right: 10px;}
.filter .form-control, .search .form-control { width: 200px;}
.filter .actions, .search .actions { padding-left: 125px;}

.form-horizontal .control-label { text-align: right; margin-bottom: 0; padding-top: 7px;}

.thumbnail { display: block; padding: 4px; margin-bottom: 20px; line-height: 1.42857143; background-color: #FBFBFB; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: border 0.2s ease-in-out; -o-transition: border 0.2s ease-in-out; transition: border 0.2s ease-in-out;}
.thumbnail .con-img { padding: 30px; background: #fff; text-align: center;}
.thumbnail .caption { padding: 9px; color: #333333;}
.thumbnail .caption .info { font-size: 14px; height: 45px; overflow: hidden; margin-bottom: 5px;}

.images .image-item { width: 100px; float: left; margin: 0px 10px; position: relative;}
.images .image-item img { width: 60px; height: 60px;}
.images .image-item .image-del { position: absolute; top: -8px; right: -8px;}











