// 图标颜色: #94b8f3
@mixin common_btns($url) {
	width: 26px;
	height: 14px;
	display: inline-block;
	position: relative;
	&:before{
		content:"";
		position: absolute;
		top: -1px;
		left: 5px;
		width: 16px;
		height: 16px;
		background: url('../img/btns/'+$url) no-repeat;
	}
}
.common_copy{
	@include common_btns('copyAnd.png');
}
.common_add{
	@include common_btns('add.png');
}
.common_edit{
	@include common_btns('bianji.png');
}
.common_delete{
	@include common_btns('shanchu.png');
}
.common_detail{
	@include common_btns('chaxun.png');
}
.common_band{
	@include common_btns('band.png');
}
.common_active{
	@include common_btns('active.png');
}
.common_judge{
	@include common_btns('judge.png');
}
.common_abandon{
	@include common_btns('abandon.png');
}
.common_change{
	@include common_btns('change.png');
}
.common_publish{
	@include common_btns('publish.png');
}
.common_publish_cancle{
	@include common_btns('publish-cancle.png');
}
.common_up{
	@include common_btns('shangyi.png');
}
.common_down{
	@include common_btns('xiayi.png');
}
.common_preview{
	@include common_btns('preview.png');
}
.common_stick{
	@include common_btns('stick.png');
}
.common_recovery{
	@include common_btns('recovery.png');
}
.common_print{
	@include common_btns('print.png');
}
.common_cancel{
	@include common_btns('cancel.png');
}
.common_setting{
	@include common_btns('setting.png');
}
.common_relate{
	@include common_btns('relate.png');
}
.common_offsell{
	@include common_btns('offsell.png');
}

.common_dropdown {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	i {
		position: relative;
		top: -3px;
		left: 1px;
	}
	>div:nth-of-type(2){
	    min-width: 100% !important;
		>div {
			text-align: center;
			padding: 5px 0;
			&:hover {
				background: #ddd;
				cursor: pointer;
			}
		}
	}
}

.common-bar-top {
	// width: 95%;
	margin: 0 auto;
	border: 1px solid #ddd;
	.common-bar-top-t{
		border-bottom: 1px solid #ddd;
		padding: 10px 15px;
		background: #f3f3f3;
		.common-bar-title {
			
		}
	}
	.common-bar-top-b{
		display: flex;
		background: #fff;
		>div {
			flex: 1;
			margin: 10px 0;
			padding: 0 10px;
			text-align: center;
			border-left: 1px solid #ddd;
			.div-first{
				color: #737273;
			}
			.div-second{
				color: #737273;
				font-size: 40px;
			    font-weight: 600;
			}
		}
		>div:first-of-type{
			border-left: none;
		}
	}
}
.common_table_1_title {
	  margin-top: 10px;
    background: #eee;
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
}
.common_table_1 {
	width: 100%;
	text-align: center;
	border: 1px solid #ddd;
	thead {
		background: #f3f3f3;
	}
	tr {
		border-bottom: 1px solid #ddd;
	}
	th {
		text-align: center;
		padding: 5px;
	}
}
.col-sm-12,.container {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.su-header {
	h3 {
	    font-size: 16px;
	    margin: 0 0 0 28px;
	    font-weight: bold;
	    line-height: 50px;
	}
	.warn {
		margin-left: 28px;
	    margin-right: 10px;
	    margin-bottom: 0;
	    font-weight: bold;
	    background-color: #f2dede;
	    border-color: #eed3d7;
	    color: #b94a48;
	    box-sizing: border-box;
        padding: 15px;
	    border-radius: 4px;
	    p {
	    	line-height: 25px;
	    }
	}
}
// ---------------------------------
.preview-control {
    position: relative;
    background-color: #fff;
    min-height: 120px;
    border: solid 1px #ddd;
}
.preview-control:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 47.5%;
    display: inline-block;
    background-color: transparent;
    border-bottom: 18px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
.preview-control .control-title {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}
.preview-control ul.control-label {
    text-align: center;
    padding: 5px 0;
}
.preview-control ul.control-label li {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 5px;
    background-color: #FF5D8F;
    color: #fff;
    cursor: pointer;
    &:nth-of-type(1){
	    margin-left: 0;
    }
    &:nth-of-type(2){
	    background-color: #5F9AE6;
    }
    &:nth-of-type(3){
	    background-color: #1BCCD6;
    }
    &:nth-of-type(4){
    	position: relative;
        background-color: #5D5295;
        .reset {
        	display: none;
        	box-sizing: border-box;
        	position: absolute;
        	bottom: 100%;
        	left: 0;
        	width: 100%;
        	color: #666;
        	border: 1px solid #ddd;
        	border-bottom: none;
        	padding: 4px 0;
        	&:hover {
        		color: #fff;
        		background: #5F9AE6;
        		cursor: pointer;
        	}
        }
    }
    &>a {
	    display: inline-block;
	    text-decoration: none;
	    color: #fff;
	    padding: 10px 10px;
	}
	&:hover .reset{
		display: block;
	}
}
.post-content {
	@mixin common {
		display: none;
		position: absolute;
		background: url(../../../img/poster/resize.gif) 50% 50% no-repeat;  
	}
	.edit-comp {
		position: absolute;
		user-select: none;
		z-index: 2;
		&:hover {
			border: 1px dashed #01b3fd;
			box-sizing: border-box;
			cursor: move;
			.top-b,.right-b,.bottom-b,.left-b,.top-left-b,
			.top-right-b,.top-right-b,
			.bottom-left-b,.bottom-right-b {
				display: block;
				z-index: 1;
			}
		}
		.top-b {
			@include common;
			top: -5px;
			left: 0;
			width: 100%;
			height: 10px;
			cursor: n-resize;
		}
		.right-b {
			@include common;
			top: 0;
			right: -5px;
			width: 10px;
			height: 100%;
			cursor: e-resize;
		}
		.bottom-b {
			@include common;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 10px;
			cursor: s-resize;
		}
		.left-b {
			@include common;
			top: 0;
			left: -5px;
			width: 10px;
			height: 100%;
			cursor: w-resize;
		}
		.top-left-b {
			@include common;
			top: -5px;
			left: -5px;
			width: 10px;
			height: 10px;
			cursor: nw-resize;
		}
		.top-right-b {
			@include common;
			top: -5px;
			right: -5px;
			width: 10px;
			height: 10px;
			cursor: ne-resize;
		}
		.bottom-left-b {
			@include common;
			bottom: -5px;
			left: -5px;
			width: 10px;
			height: 10px;
			cursor: sw-resize;
		}
		.bottom-right-b {
			@include common;
			bottom: -5px;
			right: -5px;
			width: 10px;
			height: 10px;
			cursor: se-resize;
		}
		.recover {
			position: absolute;
			bottom: 2px;
			right: 2px;
			width: 20px;
			height: 20px;
			background: url(../../../img/poster/recover.gif);
			background-size: 100% 100%;
		}
		.reset-img {
			position: absolute;
			top: 5px;
			left: 5px;
			padding: 2px 4px;
			background: #01b3fd;
			color: #fff;
		}
		.reset-img-code {
			position: absolute;
			top: 5px;
			right: 5px;
			padding: 2px 4px;
			background: #01b3fd;
			color: #fff;
		}
	}
	.edit-text {
		position: absolute;
		user-select: none;
		&:hover {
			box-sizing: border-box;
			border: 1px dashed #01b3fd;
			cursor: move;
			.tool {
				display: block;
			}
		}
		.tool {
			font-size: 16px;
			display: none;
			position: absolute;
			top: -20px;
			right: 0;
			line-height: 20px;
			background: #56a1e3;
			.delete {
				color: #fff;
				padding-left: 4px;
			}
			.edit {
				color: #fff;
				margin-left: 10px;
				padding-right: 4px;
			}
		}
	}
	#ex1Slider {
		width: 250px;
	}
	#editBody input {
		width: 246px;
	}
	a {
		color: #0088cc;
	}
}
.su-table {
	td.edit {
		text-align: left;
		a {
			display: inline-block;
			margin-right: 10px;
		}
	}
}
.su-address {
	.area-title-wrap {
		overflow: hidden;
		.area-title {
		    float: left;
		    display: inline-block;
		    text-align: center;
		    margin: 0;
		    width: 240px;
		    padding: 5px 0;
		    background-color: #f5f6f8;
		    font-size: 16px;
		    &:last-of-type{
		    	float: right;
		    }
		}
	}
	.wrap-address {
		@mixin addresslist{
			.address-list {
			    height: 300px;
			    min-width: 200px;
			    overflow: auto;
			    padding-left: 20px;

		    }
		}
		.wrap-address-left {
		    float: left;
		    padding: 10px 20px 0 20px;
		    @include addresslist;
		}
		.wrap-address-right {
			height: 300px;
			float: right;
		    padding-left: 19px;
		    border-left: solid 1px #f5f6f8;
		    @include addresslist;
		}
	}
}
.su-img-text {
	border: 1px solid #ddd;
	padding: 10px;
	.s-list {
		.s-item {
			position: relative;
			&:hover {
				.item-tool {
					display: block;
				}
			}
			.item-img {
				img {
					width: 100%;
				}
			}
			.item-text {
				padding-left: 10px;
				background: #f6f6f8;
				font-size: 16px;
				line-height: 30px;
			}
			.item-tool {
				display: none;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -15px;
				margin-left: -75px;
				width: 150px;
				height: 30px;
				line-height: 30px;
				background: rgba(0, 0, 0, 0.7);
				color: #fff;
				text-align: center;
				font-size: 20px;
				letter-spacing: 5px;
				i {
					cursor: pointer;
				}
			}
		}
	}
	.s-img {
		position: relative;
		margin-top: 10px;
		text-align: center;
		background: #f4f5f9;
		cursor: pointer;
		img {
			width: 100%;
		}
		i {
			color: #cdcdcd;	
			font-size: 40px;
			
		}
		.img-tip {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100px;
			height: 20px;
			line-height: 20px;
			margin-left: -50px;
			margin-top: -10px;

			border-radius: 4px;

			font-size: 14px;
			text-align: center;
			color: #fff;
			background: rgba(0, 0, 0, 0.3);
		}
	}
	.text {
		margin: 10px 0;
		.content {
			position: relative;
			textarea {
				box-sizing: border-box;
				width: 100%;
				height: 100px;
			}
			.s-page {
				position: absolute;
				bottom: 10px;
				right: 15px;
			}
		}
		.btns {
			text-align: right;
			margin-top: 5px;
			.btn {
				width: 100px;
				margin-left: 10px;
			}
		}
	}
	.s-container {
		margin-top: 10px;
		&.editing {
			background: #f3f3f3;
			.plus-warp {
				cursor: default;
			}
		}
		.plus-warp {
			font-size: 40px;
			padding: 5px;
			text-align: center;
			color: #cdcdcd;	
			border: 1px dashed #ddd;
			cursor: pointer;
		}

	}
}

$suHeight: 35px;
$suRight: 5px;
.su-tool-bar {
	padding: 15px;
}
.su-input {
	box-sizing: border-box;
	margin-right: $suRight;
	vertical-align: top;
	width: 170px;
	height: $suHeight;
	line-height: $suHeight;
}
.su-select {
	box-sizing: border-box;
	margin-right: $suRight;
	vertical-align: top;
	width: 170px;
	height: $suHeight;
	line-height: $suHeight;
	border-color: #d5d5d5;
}
.su-btn {
	margin-right: $suRight;
	vertical-align: top !important;
}
.su-date-pic {
	display: inline-block;
	height: $suHeight;
	margin-right: $suRight;
	.date-tip {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: $suHeight + 10;
		height: $suHeight;
		line-height: $suHeight - 2;
		color: #555;
		background-color: #eee;
		border: 1px solid #ccc;	
		border-radius: 4px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: none;
	}
	.date-input {
		box-sizing: border-box;
		vertical-align: top;
		width: 170px;
		height: $suHeight;
		line-height: $suHeight;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
}
.su-line {
	display: inline-block;
	margin: 0 10px;
	width: 1px;
	height: 10px;
	background: #aaa;
}

.right-pop {
	position: fixed;
	top: 150px;
	right: 0px;
	padding-top: 20px;
	width: 800px;
	background: #fff;
	border: 1px solid #ddd;
	.pop-close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 18px;
		height: 18px;
		background: url(../../img/2016-11-29-01.png) no-repeat;
		background-size: 100%;
	}
	z-index: 1;
}
.su-small {
	font-size: 12px;
}
.su-c-title {
	position: relative;
	left: -10px;
	display: inline-block;
	padding: 5px 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	&.checked {
		background: #93a6b7;
		* {
			color: #fff;
		}
	}
}