<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">品牌列表</a></li>
			</ul>
		</div>
	</div>
	<div class="search-filter-box">
		<div>
			<a class="btn btn-success" style="margin-left:80px;" ng-click="upImage($event,1,1)"><i class="glyphicon glyphicon-filter"></i>
				上传附件</a>
				<div  style="margin-bottom:1.25rem;width:794px; height:300px; display:inline-block;" id="myeditor" 
										get-ue="ue_myeditor = getUe" ng-show="false" class="ueditor" ng-model="gb_content1"></div>
		</div>
	</div>
</div>
