<div class="contentHtml-new f14" style=" background-color: #fff;left:0;">
	
	<div class="container-fluid" style="margin-top: 10px; box-sizing: border-box;">
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs" style="border: 0;">
					<li class="active">
						<a class="f14 i-c-black">
							<i class="icon icon-dropbox"></i>
							 代金券信息
						</a>
					</li>
				</ul>
				<div class="t-box clearfix">
					<form class="form-horizontal">
						<div class="panel panel-default" style="border-top-left-radius: 0; border-top-right-radius: 0;">
							<div class="panel-body">
								<h5>基本信息</h5>
								<hr />
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
										 券名称
									</label>
									<div class="col-md-9 col-lg-6">
										<span>满10减9</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	可用时间
									</label>
									<div class="col-md-4 col-lg-3">
										<span>2017-09-20至2017-09-21 任意时段可用</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	营销经费
									</label>
									<div class="col-md-4 col-lg-3">
										<span>预充值，使用本商户号余额</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	卡包功能
									</label>
									<div class="col-md-4 col-lg-3">
										<span>可添加</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	品牌名称
									</label>
									<div class="col-md-4 col-lg-3">
										<span>伊利</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	Logo
									</label>
									<div class="col-md-4 col-lg-3">
										<img src="../../img/0.jpg" alt="">
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	背景颜色
									</label>
									<div class="col-md-4 col-lg-3">
										<div style="width: 30px;height: 20px;background: #63b359;"></div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	卡包跳转
									</label>
									<div class="col-md-4 col-lg-3">
										<span>付款码</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	详情封面
									</label>
									<div class="col-md-4 col-lg-3">
										<span>无</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	可用商户
									</label>
									<div class="col-md-4 col-lg-3">
										<span class="tips">以下商户的微信支付订单符合核销条件，可核销代金券</span>
										<div>
											<span>本商户号(1229338402)</span>
											<span>本商户号(111122)</span>
										</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	使用说明
									</label>
									<div class="col-md-4 col-lg-3">
										<span>无</span>
									</div>
								</div>
								
								<h5 class="section-header">商品规则明细</h5>
								<hr />
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14"></label>
									<div class="col-md-9 col-lg-6">
										<table class="table table3 table-bordered table-hover">
											<thead>
												<tr>
													<th>优惠说明</th>
													<th>优惠明细</th>
													<th>总优惠个数</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>123</td>
													<td>123</td>
													<td>123</td>
													<td class="a-blue">
														<a ng-click="isInfoGoods=true;isInfo=false;">查看</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<h5 class="section-header">其他规则</h5>
								<hr />
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	支付模式
									</label>
									<div class="col-md-4 col-lg-3">
										<span>公众号支付，刷卡</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	同时使用
									</label>
									<div class="col-md-4 col-lg-3">
										<span>用户不能同时使用本商户号创建的其他代金券，但可以享受立减和折扣</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	使用方式
									</label>
									<div class="col-md-4 col-lg-3">
										<span>用户提前领取代金券，微信支付订单符合券规则，代金券将自动核销。一张券仅可被核销1次</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	可减价用户
									</label>
									<div class="col-md-4 col-lg-3">
										<span>所有人</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	订单优惠标记
									</label>
									<div class="col-md-4 col-lg-3">
										<span>11;232;12312311</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-md-3 col-lg-2 control-label f14" style="padding-top: 0">
									 	付款方式
									</label>
									<div class="col-md-4 col-lg-3">
										<span>零钱，所有银行卡</span>
									</div>
								</div>
								<hr />
								<a class="btn btn-success" ng-click="edit()">修改</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>		
	</div>
</div>

<!-- 添加商品优惠弹窗 -->
<div class="dialog" ng-show="isAddGoods" style="z-index:88">
	<div class="dialog-zdc" ></div>
	<!-- 弹出添加子类 -->
	<div class="dg-xg-zh" style="z-index:999998; width:660px;top: 50%; margin-left: -330px; margin-top: -273.5px;"  ng-show="isAddGoods">
		<div class="dg-xg-js" style="width:660px;">
			添加商品优惠
			<div class="dg-cancle" ng-click="hideUserAdd()"></div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;line-height: 32px;">
				 优惠说明
			</label>
			<div class="col-md-9 col-lg-7">
				<input type="text" style="padding: 5px 10px;">
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;line-height: 32px;">
				 优惠规则
			</label>
			<div class="col-md-9 col-lg-7">
				<span>指定商品消费满</span>
				<input type="text" style="width: 60px;padding: 5px 10px;">
				<span>元立减</span>
				<input type="text" style="width: 60px;padding: 5px 10px;">
				<span>元</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;line-height: 32px;">
				 指定商品编码
			</label>
			<div class="col-md-9 col-lg-7">
				<textarea  rows="3" cols="80" style="width: 100%;"></textarea>
				<div>
					<span class="tips">已输入1个商品编码</span>
				</div>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;line-height: 32px;">
				 总优惠数
			</label>
			<div class="col-md-9 col-lg-7">
				<input type="text" style="padding: 5px 10px;">
				<span>个</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;line-height: 32px;">
				 总预算
			</label>
			<div class="col-md-9 col-lg-7">
				<span>11.00元</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;line-height: 32px;">
				 用户可优惠个数
			</label>
			<div class="col-md-9 col-lg-7">
				<span>一个用户最多可领取</span>
				<input type="text" style="width: 60px;padding: 5px 10px;">
				<span>张券</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;line-height: 32px;">
				 备注
			</label>
			<div class="col-md-9 col-lg-7">
				<textarea  rows="3" cols="80" style="width: 100%;"></textarea>
			</div>
		</div>
		<div class="dg-bottom-color">
			<div class="dg-submint">
				<div class="btn btn-success" ng-click="next()">下一步</div>
				<div class="btn btn-default" ng-click="cancel()">取消</div>
			</div>
		</div>
	
	</div>
</div>

<!-- 商品优惠信息弹窗 -->
<div class="dialog" ng-show="isInfoGoods" style="z-index:88">
	<div class="dialog-zdc" ></div>
	<!-- 弹出添加子类 -->
	<div class="dg-xg-zh" style="z-index:999998; width:660px;top: 50%; margin-left: -330px; margin-top: -185.5px;"  ng-show="isInfoGoods">
		<div class="dg-xg-js" style="width:660px;">
			添加商品优惠
			<div class="dg-cancle" ng-click="isInfoGoods=false"></div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;">
				 优惠说明
			</label>
			<div class="col-md-9 col-lg-7">
				<span>1</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;">
				 优惠规则
			</label>
			<div class="col-md-9 col-lg-7">
				<span>活动单品编码任意一个或多个消费满11.00元减1.00元，1笔订单减价1次</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;">
				 指定优惠商品
			</label>
			<div class="col-md-9 col-lg-7">
				<span>纯牛奶</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;">
				 总优惠数
			</label>
			<div class="col-md-9 col-lg-7">
				<span>11</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;">
				 总预算
			</label>
			<div class="col-md-9 col-lg-7">
				<span>11.00元</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;">
				 用户可优惠个数
			</label>
			<div class="col-md-9 col-lg-7">
				<span>1</span>
			</div>
		</div>
		<div class="form-group clearfix" style="margin: 10px 0;">
			<label class="col-md-3 col-lg-2 control-label f14" style="text-align: right;">
				 备注
			</label>
			<div class="col-md-9 col-lg-7">
				<span>123</span>
			</div>
		</div>
		<div class="dg-bottom-color">
			<div class="dg-submint">
				<div class="btn btn-success" ng-click="sure()">确认</div>
				<div class="btn btn-default" ng-click="previous()" ng-show="isInfo">上一步</div>
			</div>
		</div>
	
	</div>
</div>